<%= form_with model: @new_message, url: new_message, method: :post, local: true do |f| %>
  <%= errors_for @new_message %>

  <% if replying %>
      <%= f.hidden_field :recipient_username  %>
  <% else %>
    <div class="boxline">
      <%= f.label :recipient_username, t('messages.form.to'), :class => "required" %>
      <%= f.text_field :recipient_username, :size => 20 %>
    </div>
  <% end %>

  <div class="boxline">
    <%= f.label :subject, t('messages.form.subjet'), :class => "required" %>
    <%= f.text_field :subject, :style => "width: 500px;",
      :maxlength => 100 %>
  </div>

  <div class="boxline">
    <%= f.label :body, t('messages.form.message'), :class => "required" %>
    <%= f.text_area :body, :style => "width: 500px;", :rows => 5 %>
  </div>

  <% if @user.wearable_hats.any? %>
    <div class="boxline">
      <%= f.label :hat_id, t('messages.form.puthat') %>
      <%= f.select :hat_id, options_for_select( [['','']] +
        @user.wearable_hats.map{|h| [h.hat, { 'data-modnote' => h.modlog_use }, h.id] }
      ) %>
      <% if @user.is_moderator? %>
        &nbsp;&nbsp;
        <%= f.check_box 'mod_note', class: 'normal' %>
        <%= f.label :mod_note, 'ModNote', class: 'normal' %>
      <% end %>
    </div>
  <% end %>

  <div class="boxline">
    <p></p>
    <%= f.submit replying ? t('messages.form.reply') : t('messages.form.sendmessage') %>
  </div>
<% end %>
