<script>
  $(document).ready(function() {
    $("#delete_all").click(function(e) {
      var table = $(e.target).closest("table");
      $("td input:checkbox", table).attr("checked", e.target.checked);
    });
  });
</script>

<div class="box wide">
  <div class="legend" style="float: right;">
    <% if @direction == :out %>
      <a href="/messages"><%= t('messages.index.viewreceived')%></a>
    <% else %>
      <a href="/messages/sent"><%= t('messages.index.viewsent')%></a>
    <% end %>
  </div>
  <div class="legend">
    <%= t('messages.index.private')%>
    <% if @direction == :out %>
      <%= t('messages.index.sent')%>
    <% end %>
  </div>

  <% if @messages.any? %>
    <%= form_with url: batch_delete_messages_path, local: true do |f| %>
      <table class="data zebra" width="100%" cellspacing=0>
      <tr>
        <th width="3%"><%= check_box_tag "delete_all",
          :id => "delete_all" %></th>
        <th width="15%"><%= @direction == :in ? t('messages.index.from') : t('messages.index.to') %></th>
        <th width="17%"><%= @direction == :in ? t('messages.index.received') : t('messages.index.sent') %></th>
        <th width="60%"><%= t('messages.index.subject')%></th>
      </tr>
      <% @messages.includes(:author, :recipient).each do |message| %>
        <tr class="<%= message.has_been_read? ? "" : "bold" %>">
          <td><%= check_box_tag "delete_#{message.short_id}" %></td>
          <td>
            <div style="white-space:nowrap;">
              <% if @direction == :in %>
                <% if message.author %>
                  <a href="/u/<%= message.author.username %>"><%=
                    message.author.username %></a>
                <% else %>
                  <%= message.author_username %>
                <% end %>
                <%= message.hat.to_html_label if message.hat %>
              <% else %>
                <a href="/u/<%= message.recipient.username %>"><%=
                  message.recipient.username %></a>
              <% end %>
            </div>
          </td>
          <td><%= time_ago_in_words_label(message.created_at) %></td>
          <td><a href="/messages/<%= message.short_id %>"><%= message.subject
            %></a></td>
        </tr>
      <% end %>
      </table>
      <p>
      <%= f.submit t('messages.index.delete') %>
      </p>
    <% end %>
  <% else %>
    <p>
      <%= t('messages.index.p1')%> <%= @direction == :in ? "" : t('messages.index.sent2') %> <%= t('messages.index.p2')%>
    </p>
  <% end %>

  <br>

  <div class="legend">
   <%= t('messages.index.legend')%>
  </div>

  <%= render partial: 'form', locals: { new_message: @new_message, replying: false } %>
</div>
