<div class="box wide">
  <div class="legend" style="float: right;">
    <% if @message.author_user_id == @user.id %>
      <a href="/messages/sent">Back to Sent Messages</a>
    <% else %>
      <a href="/messages">Back to Messages</a>
    <% end %>
  </div>

  <div class="legend">
    <%= @message.subject %>

    <div class="sublegend">
      Sent from
      <% if @message.author %>
        <a href="/u/<%= @message.author.username %>"><%= @message.author.username %></a>
      <% else %>
        <%= @message.author_username %>
      <% end %>
      <%= @message.hat.to_html_label if @message.hat %>
      to
      <a href="/u/<%= @message.recipient.username %>"><%=
        @message.recipient.username %></a>
      <%= time_ago_in_words_label(@message.created_at) %>
    </div>
  </div>

  <div class="boxline comment_text">
    <%= raw @message.linkified_body %>
  </div>

  <br>

  <div class="boxline">
    <div style="float: left;">
      <%= form_with url:  message_path(@message.short_id), :method => :delete do |f| %>
        <%= f.submit "Delete Message" %>
      <% end %>
    </div>

    <div style="float: left; padding-left: 1em;">
      <%= form_with url: message_keep_as_new_path(@message.short_id), :method => :post do |f| %>
        <%= f.submit "Keep As New" %>
      <% end %>
    </div>

    <% if @user.is_moderator? %>
      <div style="float: left; padding-left: 1em;">
        <%= form_with url: message_mod_note_path(@message.short_id), :method => :post do |f| %>
          <%= f.submit "ModNote" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div style="clear: both;"></div>

  <br>

  <% if @new_message %>
    <div class="legend">
      Compose Reply
      <% if @new_message %>
        To <%= @new_message.recipient_username %>
      <% end %>
    </div>

    <%= render partial: 'form', locals: { new_message: @new_message, replying: true } %>
  <% else %>
    For help with this message, contact <a href="/u?moderators=1">a moderator</a>.
  <% end %>
</div>
