<div class="comment_form_container">
<%= form_for comment, :remote => true,
  :html => { :class => "comment_form" } do |f| %>
  <% if comment.errors.present? %>
    <%= errors_for comment %>
  <% end %>

  <%= hidden_field_tag "story_id", story.try(:short_id), :id => nil %>
  <%= hidden_field_tag "parent_comment_short_id",
    comment.parent_comment.try(:short_id), :id => nil %>

  <div style="width: 100%;">
    <%= text_area_tag "comment", comment.comment, :rows => 5,
      :style => "width: 100%;", :autocomplete => "off" %>

    <p></p>

    <div class="markdown_help_toggler">
      <div class="markdown_help_label">
        Markdown formatting available
      </div>

      <%= submit_tag "#{comment.new_record?? "Post" : "Update"} Comment",
        :class => "comment-post" %>
      &nbsp;
      <%= submit_tag "Preview Comment", :name => "preview",
        :class => "comment-preview" %>

      <div style="clear: both;"></div>

      <%= render :partial => "global/markdownhelp" %>
    </div>
  </div>

  <p></p>
<% end %>
<% if defined?(show_comment) && show_comment.valid? %>
  <ol class="comments comments1 preview">
    <%= render :partial => "comments/comment",
      :locals => { :comment => show_comment, :story => story } %>
  </ol>
<% end %>
</div>
