<input id="comment_folder_<%= comment.short_id %>"
  class="comment_folder_button" type="checkbox"
  <%= comment.score <= Comment::DOWNVOTABLE_MIN_SCORE ? "checked" : "" %>>
<div id="c_<%= comment.short_id %>"
data-shortid="<%= comment.short_id if comment.persisted? %>"
class="comment <%= comment.current_vote ? (comment.current_vote[:vote] == 1 ?
"upvoted" : "downvoted") : "" %>
  <%= comment.score < Comment::SCORE_RANGE_TO_HIDE.first ? "bad" : "" %>
  <%= defined?(is_unread) && is_unread ? ' comment_unread' : '' %>
    ">
  <% if !comment.is_gone? %>
    <div class="voters">
      <% if @user %>
        <a class="upvoter"></a>
      <% else %>
        <%= link_to "", login_path, :class => "upvoter" %>
      <% end %>
      <div class="score"><%= comment.score_for_user(@user) %></div>
      <% if @user && @user.can_downvote?(comment) %>
        <a class="downvoter"></a>
      <% else %>
        <span class="downvoter downvoter_stub"></span>
      <% end %>
    </div>
  <% end %>
  <div class="details">
    <div class="byline">
      <a name="c_<%= comment.short_id %>"></a>

      <label for="comment_folder_<%= comment.short_id %>"
        class="comment_folder"></label>

      <% if defined?(was_merged) && was_merged %>
        <span class="merge"></span>
      <% end %>

      <% if (@user && @user.show_avatars?) || !@user %>
        <a href="/u/<%= comment.user.username %>"><%=
          avatar_img(comment.user, 16) %></a>
      <% end %>

      <a href="/u/<%= comment.user.username %>"
        class="<%= comment.html_class_for_user %>"><%=
        comment.user.username %></a>

      <% if comment.hat %>
        <%= comment.hat.to_html_label %>
      <% end %>

      <% if comment.previewing %>
        <%= t('.previewed') %>
      <% else %>
        <% if comment.has_been_edited? %>
          <%= t('.edited') %>
        <% elsif comment.is_from_email? %>
          <%= t('.emailed') %>
      <% end %>
        <span class="comment_timeago">
          <%= distance_of_time_in_words((comment.has_been_edited? ?
            comment.updated_at : comment.created_at), Time.now, :strip_about => true) %>
        </span>
      <% end %>

      <% if !comment.previewing %>
        |
        <a href="<%= comment.url %>"><%= t('.link') %></a>

        <% if comment.is_editable_by_user?(@user) %>
          |
          <a class="comment_editor"><%= t('.edit') %></a>
        <% end %>

        <% if comment.is_gone? && comment.is_undeletable_by_user?(@user) %>
          |
          <a class="comment_undeletor"><%= t('.undelete') %></a>
        <% elsif !comment.is_gone? && comment.is_deletable_by_user?(@user) %>
          |
          <% if @user && @user.is_moderator? && @user.id != comment.user_id %>
            <a class="comment_moderator"><%= t('.delete') %></a>
          <% else %>
            <a class="comment_deletor"><%= t('.delete') %></a>
          <% end %>
        <% end %>

        <% if !comment.parent_comment_id && @user && @user.is_moderator? %>
          |
          <% if comment.is_dragon? %>
            <a class="comment_undragon"><%= t('.undragon') %></a>
          <% else %>
            <a class="comment_dragon"><%= t('.dragon') %></a>
          <% end %>
        <% end %>

        <% if @user && !comment.story.is_gone? && !comment.is_gone? %>
            |
            <a class="comment_replier" unselectable="on"><%= t('.reply') %></a>
        <% end %>

        <% if defined?(show_story) && show_story %>
          | <%= t('.about') %>
          <a href="<%= comment.story.comments_path %>"><%= comment.story.title
            %></a>
        <% end %>

        <span class="reason">
          <% if comment.downvotes > 0 &&
          comment.showing_downvotes_for_user?(@user) &&
          (comment.user_id == @user.try(:id) || @user.try("is_moderator?")) %>
            | <%= comment.vote_summary_for_user(@user).downcase %>
          <% elsif comment.current_vote && comment.current_vote[:vote] == -1 %>
            | -1
            <%= Vote::COMMENT_REASONS[comment.current_vote[:reason]].downcase %>
          <% end %>
        </span>
      <% end %>
    </div>
    <div class="comment_text">
      <% if comment.is_gone? %>
        <p>
        <span class="na">
        [<%= comment.gone_text %>]
        </span>
        </p>
      <% else %>
        <%= raw comment.markeddown_comment %>
      <% end %>
    </div>
  </div>
</div>
