<ol class="comments comments1">
  <% @comments.each do |comment| %>
    <li><%= render "comments/comment", :comment => comment,
      :show_story => true %>
      <ol class="comments"></ol>
    </li>
  <% end %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="/comments<%= @page == 2 ? "" : "/page/#{@page - 1}" %>">&lt;&lt; 
      Page <%= @page - 1 %></a>
  <% end %>

  <% if @comments.any? %>
    <% if @page && @page > 1 %>
      |
    <% end %>

    <a href="/comments/page/<%= @page + 1 %>">Page
      <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
