<%= render partial: @above if @above %>

<% already_printed_newest_line = false %>
<ol class="comments comments1">
  <% @comments.each do |comment| %>
    <% if action_name == "index" &&
       !already_printed_newest_line &&
       @last_read_timestamp &&
       @last_read_timestamp.after?(comment.created_at) %>
       <div class="last_read_newest">Last Read</div>
       <% already_printed_newest_line = true %>
    <% end %>
    <li><%= render "comments/comment", :comment => comment,
      :show_story => true %>
      <ol class="comments"></ol>
    </li>
  <% end %>
</ol>

<nav class="morelink">
  <% if @comments.any? %>
    <% if @page && @page > 1 %>
      <%= link_to raw("Page #{@page - 1}"), { controller: controller_name, action: action_name, page: @page - 1 }.merge(@next_page_params || {}), rel: "prev" %>
    <% end %>

    <% if @page && @page > 1 %>
      <%= divider_tag %>
    <% end %>
    <%= link_to raw("Page #{@page + 1}"), { controller: controller_name, action: action_name, page: @page + 1 }.merge(@next_page_params || {}), rel: "next" %>
  <% end %>
</nav>
