<div class="box">
  <div class="legend">
    Search
  </div>

  <%= form_tag "/search", :method => :get do %>
    <div class="boxline">
      <%= text_field_tag "q", @search.q, { :size => 40 }.
        merge(@search.q.present? ? {} : { :autofocus => "autofocus" }) %>
      <input type="submit" value="Search">
    </div>

    <div class="boxline">
      <label class="required">Search:</label>

      <%= radio_button_tag "what", "stories", @search.what == "stories" %>
        <label for="what_stories" class="normal">Stories</label>

      &nbsp;

      <%= radio_button_tag "what", "comments", @search.what == "comments" %>
        <label for="what_comments" class="normal">Comments</label>

      <br>

      <label class="required">Order By:</label>

      <%= radio_button_tag "order", "relevance", @search.order == "relevance" %>
        <label for="order_relevance" class="normal">Relevance</label>

      &nbsp;

      <%= radio_button_tag "order", "newest", @search.order == "newest" %>
        <label for="order_newest" class="normal">Newest</label>

      &nbsp;

      <%= radio_button_tag "order", "points", @search.order == "points" %>
        <label for="order_points" class="normal">Points</label>
    </div>
  <% end %>
</div>

<% if @search.total_results > -1 %>
  <div class="box">
    <p>
    <div class="legend">
      <%= @search.total_results %> result<%= @search.total_results == 1 ? "" :
        "s" %> for "<%= @search.q %>"
    </div>
    </p>
  </div>

  <ol class="search_results">
    <% @search.results.each do |res| %>
      <% if res.class == Story %>
        <%= render :partial => "stories/listdetail",
          :locals => { :story => res } %>
      <% elsif res.class == Comment %>
        <li><%= render "comments/comment", :comment => res,
          :show_story => true, :hide_voters => true %></li>
      <% end %>
    <% end %>
  </ol>

  <% if @search.total_results > @search.per_page %>
    <div class="page_link_buttons">
      Page:

      <% page_numbers_for_pagination(@search.page_count, @search.page).each do |p| %>
        <% if p.is_a?(Integer) %>
          <a href="/search?<%= raw(@search.to_url_params) %>&amp;page=<%= p
            %>" class="<%= @search.page == p ? "cur" : "" %>"><%= p
            %></a>
        <% else %>
          <span>...</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="help">
    Search by domain with <code>domain:example.com</code> and <%= link_to 'tag', tags_path %> with <code>tag:meta</code>.
  </div>
<% end %>
