<div class="box wide">
  <div class="legend">
  <%= t('signup.index.legend')%><
  </div>
  <% if Rails.application.open_signups? %>
    <p>
      <%= t('signup.index.lnouser')%> <a href="/invitations/open"><%= t('signup.index.sign')%></a>.
    </p>
  <% else %>
    <p>
    <%= t('signup.index.p1')%>
    <a href="/u/"><%= t('signup.index.current')%></a> 
    <%= t('signup.index.p2')%>
    <% if Rails.application.allow_invitation_requests? %>
      <a href="/invitations/request"><%= t('signup.index.requestpublicly)%></a>.
    <% else %>
    <%= t('signup.index.requestin')%> <a href="/chat">chat</a>.
    <% end %>
    </p>
  <% end %>
</div>
