<div class="box wide">
  <div class="legend">
    <%= t('signup.invite.legend')%>
  </div>

  <p>
  <%= t('signup.invite.p1')%>
  <a href="/settings#invite">
  <%= t('signup.invite.p2')%></a>.
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  or

  <p>
  <%= button_to t('signup.invite.skip'), "/", :method => :get %>
  </p>
</div>
