<div class="box wide">
  <div class="legend">
    <%= t('.passinvitation') %>
  </div>

  <p>
  <%= t('.passinvitationbody') %>
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  <%= t('.passinvitationor') %>

  <p>
  <%= button_to t('.passinvitationskip'), "/", :method => :get %>
  </p>
</div>
