<div class="box wide">
  <div class="legend">
  <%= t('signup.invited.legend')%>
  </div>

  <%= form_with model: @new_user, url: signup_path, local: true do |f| %>
    <p>
    <%= t('signup.invited.p1')%>
    </p>

    <%= errors_for(@new_user) %>

    <% if not Rails.application.open_signups? %>
        <%= f.hidden_field "invitation_code", :value => @invitation.code, :name => :invitation_code %>
      <p>
      <%= f.label :invitation, t('signup.invited.invited'), :class => "required" %>
      <span class="d">
        <a href="/u/<%= @invitation.user.username %>" target="_blank"><%=
          @invitation.user.username %></a>
      </span>
      </p>
    <% end %>

    <p>
    <%= f.label :username, t('signup.invited.username'), :class => "required" %>
    <%= f.text_field :username, :size => 30 %>
    <span class="hint">
      <tt><%= User.username_regex_s %></tt>
    </span>
    <br />

    <%= f.label :email, t('signup.invited.mail'), :class => "required" %>
    <%= f.email_field :email, :size => 30 %>
    <span class="hint">
      <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>'ized
    </span>
    <br />

    <%= f.label :password, t('signup.invited.password'), :class => "required" %>
    <%= f.password_field :password, :size => 30, :autocomplete => "off" %>
    <br />

    <%= f.label :password_confirmation, t('signup.invited.passwordagain'),
      :class => "required" %>
    <%= f.password_field :password_confirmation, :size => 30,
      :autocomplete => "off" %>
    <br />
    </p>

    <p>
    <%= t('signup.invited.p2')%>
    </p>

    <p>
    <div class="boxline">
      <%= f.label :about, t('signup.invited.about'), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler"
        style="margin-left: 9em; width: 600px;">
        <div class="markdown_help_label">
          <%= t('signup.invited.markdown')%>
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= f.submit t('signup.invited.signup') %>
    </p>
  <% end %>
</div>
