<div class="box wide">
  <div class="legend">
    <%= t('.createaccounttitle') %>
  </div>

  <%= form_for @new_user, { :url => signup_path } do |f| %>
    <%= hidden_field_tag "invitation_code", @invitation.code %>

    <p>
    <%= t('.createaccountbody') %>
    </p>

    <%= error_messages_for(@new_user) %>

    <p>
    <%= f.label :invitation, t('.invitedby'), :class => "required" %>
    <span class="d">
      <a href="/u/<%= @invitation.user.username %>" target="_blank"><%=
        @invitation.user.username %></a>
    </span>
    </p>

    <p>
    <%= f.label :username, t('.username'), :class => "required" %>
    <%= f.text_field :username, :size => 30 %>
    <span class="hint">
      <tt><%= User.username_regex_s %></tt>
    </span>
    <br />

    <%= f.label :email, t('.email'), :class => "required" %>
    <%= f.email_field :email, :size => 30 %>
    <span class="hint">
      <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>
    </span>
    <br />

    <%= f.label :password, t('.password'), :class => "required" %>
    <%= f.password_field :password, :size => 30, :autocomplete => "off" %>
    <br />

    <%= f.label :password_confirmation, t('.passwordagain'),
      :class => "required" %>
    <%= f.password_field :password_confirmation, :size => 30,
      :autocomplete => "off" %>
    <br />
    </p>

    <p>
    <%= t('.about') %>
    </p>

    <p>
    <div class="boxline">
      <%= f.label :about, t('.abouttitle'), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler"
        style="margin-left: 9em; width: 600px;">
        <div class="markdown_help_label">
          <%= t('.markdownavailable') %>
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= submit_tag t('.signup') %>
    </p>
  <% end %>
</div>
