<div id="<%= dom_id mod_mail %>">
  <p>
    <strong>Subject:</strong>
    <%= mod_mail.subject %>
  </p>

  <% if mod_mail.comment_references.any? || mod_mail.story_references.any? %>
    <p>
      <strong>References:</strong>
      <ul>
        <% mod_mail.comment_references.each do |comment| %>
          <li>
            <a href="<%= Routes.comment_target_path(comment) %>">Comment by
              <%= comment.user.username %>
              on
              <%= comment.story.title %></a>
          </li>
        <% end %>
        <% mod_mail.story_references.each do |story| %>
          <li>
            <a href="<%= Routes.story_path(story) %>">Story
              (<%= story.title %>)
              submitted by
              <%= story.user.username %>
            </a>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <strong>Recipients:</strong>
    <% mod_mail.recipients.each do |recipient| %>
      <%= link_to(recipient.username, user_path(recipient)) %>
    <% end %>
  </p>

  <section>
    <% @messages.each do |message| %>
      <hr>
      <%= render "mod/mail_messages/mail_message", mod_mail_message: message %>
    <% end %>

    <h3>Compose Message</h3>
    <%= render "mod_mail_messages/form", mod_mail_message: @mod_mail_message %>
  </section>
</div>
