<div class="box wide">
  <h2 class="legend">Conversations</h2>
  <section class="data zebra conversations">
    <header>
      <span class="from">From</span>
      <span class="last_message">Last Message</span>
      <span class="message_count">#</span>
      <span class="subject">Subject</span>
    </header>
    <% @conversations.each do |conversation| %>
      <%=
      link_to(
        conversation_path(conversation),
        class: "conversation #{conversation_status_classes(conversation)}"
      ) do
      %>
        <span class="from">
          <%= conversation.partner(of: @user).username %>
        </span>
        <span class="last_message"><%= time_ago_in_words_label(conversation.last_message.created_at) %></span>
        <span class="message_count"><%= conversation.messages.count %></span>
        <span class="subject"><%= conversation.subject %></span>
      <% end %>
    <% end %>
  </table>

  <%= form_with model: @conversation, class: "new_conversation" do |form| %>
    <h2 class="legend">Create Conversation</h2>
    <%= error_messages_for @conversation %>
    <%= label :user, :username, "To:", class: "required" %>
    <%= text_field :user, :username, value: "" %>
    <%= form.label :subject, "Subject:", class: "required" %>
    <%= form.text_field :subject %>
    <%= label :message, :body, "Message:", class: "required" %>
    <%= text_area :message, :body %>
    <% if @user.wearable_hats.any? %>
      <div class="boxline">
        <%= label :message, :hat_id, 'Put on hat:' %>
        <%= select :message, :hat_id, options_for_select( [['','']] +
          @user.hats.map do |h|
            [h.hat, { 'data-modnote' => h.modlog_use }, h.id]
          end
        ) %>
      </div>
    <% end %>
    <%= form.submit %>
  <% end %>
</div>
