<div class="box wide">
  <h2 class="legend">Conversations</h2>
  <section class="data zebra conversations">
    <header>
      <span class="from">From</span>
      <span class="latest">Latest</span>
      <span class="message_count">#</span>
      <span class="subject">Subject</span>
    </header>
    <% @conversations.each do |conversation| %>
      <%=
      link_to(
        conversation_path(conversation),
        class: "conversation #{conversation_status_classes(conversation)}"
      ) do
      %>
        <span class="from">
          <%= conversation.partner(of: @user).username %>
        </span>
        <span class="latest"><%= time_ago_in_words_label(conversation.updated_at) %></span>
        <span class="message_count"><%= conversation.messages.count %></span>
        <span class="subject"><%= conversation.subject %></span>
      <% end %>
    <% end %>
  </table>

  <%= form_with model: @conversation_form, class: "new_conversation", local: true do |form| %>
    <h2 class="legend">Create Conversation</h2>
    <%= error_messages_for @conversation_form %>
    <div class="field">
      <%= form.label :username, "To:", class: "required" %>
      <%= form.text_field :username %>
    </div>
    <div class="field">
      <%= form.label :subject, "Subject:", class: "required" %>
      <%= form.text_field :subject %>
    </div>
    <div class="field">
      <%= form.label :body, "Message:", class: "required" %>
      <%= form.text_area :body %>
    </div>
    <div class="field">
    </div>
    <div class="field">
      <%= render partial: "hat_inputs", locals: { user: @user, form: form } %>
    </div>
    <div class="action">
      <%= form.submit %>
    </div>
  <% end %>
</div>
