<div class="box wide">
  <h2 class="legend">Conversations</h2>
  <section class="data zebra conversations">
    <header>
      <span class="partner">Partner</span>
      <span class="received">Received</span>
      <span class="subject">Subject</span>
    </header>
    <% @conversations.each do |conversation| %>
      <%=
      link_to(
        conversation_path(conversation),
        class: "conversation #{conversation_status_classes(conversation)}"
      ) do
      %>
        <span class="partner">
          <%= conversation.partner(of: @user).username %>
        </span>
        <span class="received"><%= time_ago_in_words_label(conversation.last_message.created_at) %></span>
        <span class="subject"><%= conversation.subject %></span>
      <% end %>
    <% end %>
  </table>

  <%= form_with model: @conversation, class: "new_conversation" do |form| %>
    <h2 class="legend">Create Conversation</h2>
    <%= error_messages_for @conversation %>
    <%= label :user, :username, "To:", class: "required" %>
    <%= text_field :user, :username, value: "" %>
    <%= form.label :subject, "Subject:", class: "required" %>
    <%= form.text_field :subject %>
    <%= label :message, :body, "Message:", class: "required" %>
    <%= text_area :message, :body %>
    <%= form.submit %>
  <% end %>
</div>
