<header class="box wide">
  <h1>
    <%= @conversation.subject %> with
    <%= @conversation.partner(of: @user).username %>
  </h1>
</header>
<section class="messages box wide">
  <% @conversation.messages.each do |message| %>
      <header class="meta">
        <div class="author">
          <%= message.hat.to_html_label if message.hat %>
          <%= message.author.username %>
        </div>
        <time
          datetime="<%= l(message.created_at, format: :datetime) %>"
          class="timestamp"
        >
          <%= time_ago_in_words_label(message.created_at) %>
        </time>
      </header>
      <div class="message_text"><%= message.body %></div>
  <% end %>
</section>
<section class="new_message box wide">
  <%= form_with model: [@message.conversation, @message] do |form| %>
    <%= error_messages_for @message %>
    <div class="boxline">
      <%= form.label :body, "Message", :class => "required" %>
      <%= form.text_field :body %>
    </div>

    <%= form.submit "Send Message" %>
  <% end %>
</section>
