<div class="box wide">
  <div class="legend right">
    <%= link_to 'Notes', mod_notes_path(period: '2w') %>
    Flagged: <% @periods.each do |p| %><%= link_to_different_page(p, mod_flagged_path(period: p)) %> <% end %>
    Downvoted: <% @periods.each do |p| %><%= link_to_different_page(p, mod_downvoted_path(period: p)) %> <% end %>
  Commenters: <% %w{1m 2m 3m 6m}.each do |p| %><%= link_to_different_page(p, mod_commenters_path(period: p)) %> <% end %>
  </div>

  <div class="legend">
    <%= link_to 'Dashboard', mod_path %>
  </div>
</div>
<div class="clear"></div>
