<%= render partial: 'mod/nav' %>

<%= form_with url: mod_notes_path, method: :get do |f| %>
  <div class="boxline">
    <label class="normal" for="username">Username:</label>
    <input type="text" name="username" value="<%= @username %>">
    <%= f.submit 'Filter' %>
  </div>
<% end %>

<%= render partial: 'table', locals: {
  mod_notes: @notes
} %>
