<%= render partial: 'messages/subnav' %>

<%= possible_flag_warning(@user, @user) %>

<% if @notifications.present? %>
  <ol class="comments comments1 notifications">
    <% @notifications.filter { |n| n.should_display? }.each do |notification| %>
      <% case notification.notifiable %>
      <% when Comment %>
      <% comment = notification.notifiable %>
        <li class="comments_subtree">
          <%= render "comments/comment", comment: comment, show_story: true, is_unread: notification.read_at.nil?, show_tree_lines: false, show_folder_control: false %>
          <ol class="comments"></ol>
        </li>
      <% when Message %>
      <% message = notification.notifiable %>
        <li class="comments_subtree">
          <%= render "message", message: message, is_unread: notification.read_at.nil? %>
        </li>
      <% when ModMailMessage %>
        <li class="comments_subtree">
          <%= render "mod_mail_message", mod_mail_message: notification.notifiable, is_unread: notification.read_at.nil? %>
        </li>
      <% end %>
    <% end %>
  </ol>
<% else %>
  <p class="help">No notifications to show.</p>
<% end %>

<% if @has_more || (@page && @page > 1) %>
  <nav class="morelink">
    <% if @page && @page > 1 %>
      <a rel="prev" href="/inbox/all<%= @page == 2 ? "" : "/page/#{@page - 1}" %>">Page <%= @page - 1 %></a>
    <% end %>

    <% if @has_more %>
      <% if @page && @page > 1 %>
        <%= divider_tag %>
      <% end %>

      <a h rel="next" ref="/inbox/all/page/<%= @page + 1 %>">Page <%= @page + 1 %></a>
    <% end %>
  </nav>
<% end %>
