<div class="flash-error">
<%= t('users.flag.p1')%>
  <%= @flag_warning_int[:human] %>.
  <%= t('users.flag.p2')%> 
  <%= link_to 'your standing', user_standing_path(@user.username) %> 
  <%= t('users.flag.p3')%>
  <a href="https://xkcd.com/386"><%= t('users.flag.p4')%></a>.
  <br><br>

  <%= t('users.flag.p5')%> 
  <%= link_to 'a mod', moderators_path %> 
  <%= t('users.flag.p6')%> 
  <%= link_to 'settings', settings_path %> 
  <%= t('users.flag.p7')%>
</div>
