<%# locals: (return_home: false) -%>
<p>
Invitations are unlimited, but persons you invite will be associated with your account
in the <%= link_to 'user tree', users_tree_path %>
and you may be responsible for them if they cause problems.
Please use your discretion when inviting persons you don't personally know.
</p>

<p>
Note to trans users:
User profiles list the user who invited them.
If you want to avoid connecting your old and new usernames, ask <%= link_to 'a moderator', moderators_path %> to send you an invite.
</p>

<%= form_with url: invitations_path, method: :post do |f| %>
  <% if return_home %>
    <%= f.hidden_field :return_home, value: 1 %>
  <% end %>

  <div class="boxline">
    <%= f.label :email, "E-mail Address:", :class => "required" %>
    <%= f.email_field :email, :size => 30, :autocomplete => "off", :inputmode => "email" %>
  </div>

  <div class="boxline">
    <%= f.label :memo, "Memo to User:", :class => "required" %>
    <%= f.text_field :memo, :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= f.submit "Send Invitation" %>
  </div>
<% end %>

