<p>
<%= t('users.inv.p1')%> 
<a href="/u"><%= t('users.inv.p2')%></a> 
<%= t('users.inv.p3')%>
</p>

<%= form_with url: invitations_path, method: :post, local: true do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= f.hidden_field :return_home, value: 1 %>
  <% end %>

  <div class="boxline">
    <%= f.label :email, t('users.inv.mail'), :class => "required" %>
    <%= f.email_field :email, :size => 30, :autocomplete => "off" %>
  </div>

  <div class="boxline">
    <%= f.label :memo, t('users.inv.memo'), :class => "required" %>
    <%= f.text_field :memo, :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= f.submit t('users.inv.send') %>
  </div>
<% end %>



