<div class="box wide">
  <% if @user && @user.id == @showing_user.id %>
    <div style="float: right;">
      <a href="/settings">Edit Settings</a>
    </div>
  <% end %>

	<div class="legend">
		<%= @showing_user.username %>
	</div>

  <label class="required">Status:</label>
  <span class="d">
    Active <%= @showing_user.is_admin? ? "administrator" : "user" %>
  </span>
  <br>

  <label class="required">Joined:</label>
  <span class="d">
    <%= time_ago_in_words(@showing_user.created_at) %> ago
      (<%= @showing_user.created_at.strftime("%Y-%m-%d") %>)
  </span>
  <br>
  
  <label class="required">Karma:</label>
  <span class="d">
    <%= @showing_user.karma %>
  </span>
  <br>

  <label class="required">Stories Submitted:</label>
  <span class="d">
    <%= @showing_user.stories_submitted_count %>
  </span>
  <br>
  
  <label class="required">Comments Posted:</label>
  <span class="d">
    <%= @showing_user.comments_posted_count %>
  </span>
  <br>

  <label class="required">About:</label>

  <div class="shorten_first_p" style="margin-left: 12em;">
    <%= raw @showing_user.linkified_about %>
  </div>
</div>
