<div class="box wide">
  <div class="legend">
    <%= @showing_user.username %>
    <% if @user %>
      (<a href="/messages?to=<%= @showing_user.username %>">Send a Message</a>)
    <% end %>
  </div>

  <div id="gravatar">
    <img src="<%= @showing_user.avatar_url %>">
  </div>

  <label class="required">Status:</label>
  <span class="d">
    Active <%= @showing_user.is_admin? ? "administrator" :
      (@showing_user.is_moderator? ? "moderator" : "user") %>
  </span>
  <br>

  <label class="required">Joined:</label>
  <span class="d">
    <%= raw(time_ago_in_words_label(@showing_user.created_at)) %> ago
    <% if @showing_user.invited_by_user %>
      by invitation from
      <a href="/u/<%= @showing_user.invited_by_user.username %>"><%=
        @showing_user.invited_by_user.username %></a>
    <% end %>
  </span>
  <br>

  <label class="required">Karma:</label>
  <span class="d">
    <%= @showing_user.karma %>, averaging <%=
      number_with_precision(@showing_user.average_karma, :precision => 2) %>
      per story/comment
  </span>
  <br>

  <label class="required">Stories Submitted:</label>
  <span class="d">
    <% tag = @showing_user.most_common_story_tag %>
    <a href="/newest/<%= @showing_user.username %>"><%=
      @showing_user.stories_submitted_count %></a><%= tag ? ", " : "" %>
    <% if tag %>
      most commonly tagged <a href="<%= tag_url(tag.tag) %>"
        class="<%= tag.css_class %>" title="<%= tag.description %>"><%=
        tag.tag %></a>
    <% end %>
  </span>
  <br>

  <label class="required">Comments Posted:</label>
  <span class="d">
    <a href="/threads/<%= @showing_user.username %>"><%=
      @showing_user.comments_posted_count %></a>
  </span>
  <br>

  <label class="required">About:</label>

  <div id="user_about" class="shorten_first_p">
    <% if @showing_user.about.present? %>
      <%= raw @showing_user.linkified_about %>
    <% else %>
      <span class="na">A mystery...</span>
    <% end %>
  </div>
</div>
