<div class="box wide">
  <div class="legend">
    <%= @showing_user.username %>
    <% if @user %>
      (<a href="/messages?to=<%= @showing_user.username %>">Send a Message</a>)
    <% end %>
  </div>

  <div id="gravatar">
    <img src="https://secure.gravatar.com/avatar/<%=
      Digest::MD5.hexdigest(@showing_user.email.strip.downcase) %>?r=pg&amp;
      d=<%= CGI.escape(root_url + "images/1x1t.gif") %>&amp;s=100">
  </div>

  <label class="required">Status:</label>
  <span class="d">
    Active <%= @showing_user.is_admin? ? "administrator" :
      (@showing_user.is_moderator? ? "moderator" : "user") %>
  </span>
  <br>

  <label class="required">Joined:</label>
  <span class="d">
    <%= time_ago_in_words(@showing_user.created_at) %>
    <% if @showing_user.invited_by_user %>
      ago, invited by
      <a href="/u/<%= @showing_user.invited_by_user.username %>"><%=
        @showing_user.invited_by_user.username %></a>
    <% else %>
      ago
    <% end %>
  </span>
  <br>
  
  <label class="required">Karma:</label>
  <span class="d">
    <%= @showing_user.karma %>
    (average <%= number_with_precision(@showing_user.average_karma,
      :precision => 2) %>)
  </span>
  <br>

  <label class="required">Stories Submitted:</label>
  <span class="d">
    <a href="/newest/<%= @showing_user.username %>"><%=
      @showing_user.stories_submitted_count %></a>
  </span>
  <br>
  
  <label class="required">Comments Posted:</label>
  <span class="d">
    <a href="/threads/<%= @showing_user.username %>"><%=
      @showing_user.comments_posted_count %></a>
  </span>
  <br>

  <label class="required">About:</label>

  <div id="user_about" class="shorten_first_p">
    <%= raw @showing_user.linkified_about %>
  </div>
</div>
