<div class="box wide">
  <h1>Breakdown of commenters receiving flags in the last <%= @flag_warning_int[:human] %></h1>

  <p>
    Most commenters get zero or very few flags across their comments in the last <%= @flag_warning_int[:human] %>.
    Currently, users who see the warning have been flagged between <%= @dc_flagged.first %> and <%= @dc_flagged.last %> times.
    Or, to make that visible:
  </p>

  <table class="standing">
    <% (0..@dc_flagged.last.to_i).each do |n_flags| %>
      <tr>
        <td>
          <% if @flagged_user_stats && n_flags == @flagged_user_stats[:n_downvotes] %>
            <div class="jaccuse">You</div>
          <% else %>
            <%= @lookup[n_flags].to_i %>&nbsp;<%= "user".pluralize(@lookup[n_flags].to_i) %>
          <% end %>
        </td>
        <td>
          received&nbsp;<%= n_flags %>&nbsp;<%= "flag".pluralize(n_flags) %>
        </td>
        <% if n_flags < @dc_flagged.first.to_i %>
          <td class="unwarned">
            <% @lookup[n_flags].to_i.times do %><div>&#129438;</div><% end %>
          </td>
        <% else %>
          <td class="warned">
            <% @lookup[n_flags].to_i.times do %><div>&#10060;</div><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p>
    This isn't based on the percentage of the author's comments flagged because good comments don't excuse abusive ones.
  </p>

  <p>
    For reference, your recent flagged comments:
  </p>
</div>

<ol class="comments comments1">
  <% @flagged_comments.each do |comment| %>
    <li><%= render "comments/comment", :comment => comment, :show_story => true %>
      <ol class="comments"></ol>
    </li>
  <% end %>
</ol>
