<div class="box wide">
  <h1><%= t('users.standing.h1')%> 
  <%= @flag_warning_int[:human] %></h1>

  <p>
    <%= t('users.standing.p1')%>
    <%= @flag_warning_int[:human] %>.
    <%= t('users.standing.p2')%> 
    <%= @fc_flagged.first %> 
    <%= t('users.standing.p3')%> <%= @fc_flagged.last %> 
    <%= t('users.standing.p4')%>
    <%= t('users.standing.p5')%>
  </p>

  <table class="standing">
    <% (0..@fc_flagged.last.to_i).each do |n_flags| %>
      <tr>
        <td>
          <% if @flagged_user_stats && n_flags == @flagged_user_stats[:n_flags] %>
            <div class="jaccuse">You</div>
          <% else %>
            <%= @lookup[n_flags].to_i %>&nbsp;<%= "user".pluralize(@lookup[n_flags].to_i) %>
          <% end %>
        </td>
        <td>
          received&nbsp;<%= n_flags %>&nbsp;<%= "flag".pluralize(n_flags) %>
        </td>
        <% if n_flags < @fc_flagged.first.to_i %>
          <td class="unwarned">
            <% @lookup[n_flags].to_i.times do %><div>&#129438;</div><% end %>
          </td>
        <% else %>
          <td class="warned">
            <% @lookup[n_flags].to_i.times do %><div>&#10060;</div><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p>
   <%= t('users.standing.p6')%> 
    <%= link_to 'a mod', moderators_path %> 
    <%= t('users.standing.p7')%> 
      <%= link_to 'settings', settings_path %>.
  </p>

  <p>
    <%= t('users.standing.p8')%>
  </p>

  <p>
    <%= t('users.standing.p9')%>
  </p>

  <p>
  <%= t('users.standing.p10')%>
  </p>

  <p>
  <%= t('users.standing.p11')%>
  </p>
</div>

<ol class="comments comments1">
  <% @flagged_comments.each do |comment| %>
    <li><%= render "comments/comment", :comment => comment, :show_story => true, force_open: true %></li>
  <% end %>
</ol>
