<div class="box wide">
  <strong><%= number_with_delimiter(@tree.count) %> Users (<%= number_with_delimiter(@new_users.count) %> new this week)</strong>
  <p>
  <% prev_level = 0 %>
  <% @tree.each do |u| %>
    <% if u[:level] > prev_level %>
      <ul class="<%= u[:level] == 1 ? "root" : "user_tree" %>">
    <% elsif u[:level] < prev_level %>
      <% (prev_level - u[:level]).times do %>
        </ul>
      <% end %>
    <% else %>
      </li>
    <% end %>

    <li><a href="/u/<%= u[:username] %>"><%= u[:username] %></a>
      (<%= u[:karma] %>)

    <% prev_level = u[:level] %>
  <% end %>
  <% prev_level.times do %>
    </ul>
  <% end %>
</div>
