<div class="box wide">
  <h1><%= t('home.about.title')%></h1>

  <%- raise "Site owner: You need to delete app/views/home/about.html.erb and write your own about page" if Rails.env.production? and Rails.application.name != 'Lobsters' -%>

  <div class="story_text">
  <p>
    <%= t('home.about.p1_part1')%> <a href="/u/pushcx">Peter Bhat Harkins</a> ("pushcx")<%= t('home.about.p1_part2')%> 
    <%= t('home.about.p1_part3')%> <a href="/u/jcs">joshua stein</a> <%= t('home.about.p1_part4')%>
  </p>

  <ul>
    <li><%= t('home.about.li1.a')%>  <a href="#tagging"><%= t('home.about.li1.tagging')%> </a> <%= t('home.about.li1.text')%></li>
    <li><%= t('home.about.li2.user')%> <a href="#invitations"><%= t('home.about.li2.invitation')%></a> <%= t('home.about.li2.combat')%></li>
    <li><a href="#flags"><%= t('home.about.li3.flag')%></a> <%= t('home.about.li3.curl')%></li>
    <li><%= t('home.about.li4.strong')%> < <a href="#transparency"><%= t('home.about.li4.transparency')%></a>,</li>
    <li><%= t('home.about.li5.and')%> <a href="#features"><%= t('home.about.li5.features')%></a> <%= t('home.about.li5.add')%></li>
  </ul>

  <h2 id="tagging"><%= t('home.about.h2')%></h2>
  <p>
  <%= t('home.about.p2_p1')%>  <a href="/tags"><%= t('home.about.tags')%> </a>.
  <%= t('home.about.p2_p2')%>  <a href="/filters"><%= t('home.about.filter')%></a> 
  <%= t('home.about.p2_p3')%> (<%= t('home.about.example')%> <a href="https://lobste.rs/t/programming.rss">programming.rss</a>)
  <%= t('home.about.p2_p4')%>  (<%= t('home.about.example')%>  <a href="https://lobste.rs/t/programming,audio.rss">programming,audio.rss</a>).
  <%= t('home.about.p2_p5')%> 
  <%= t('home.about.p2_p6')%> 
  </p>

  <ul>
  <li><p>
  <%= t('home.about.li6')%>
  </p></li>

  <li><p>
  <%= t('home.about.li7.p1')%> 
  <a href="/t/python" class="tag">
  <%= t('home.about.python')%> 
  </a> <%= t('home.about.li7.p2')%>
  <%= t('home.about.li7.p2')%> 
  <a href="/filters"><%= t('home.about.filter')%>
  </a> <%= t('home.about.li7.p3')%>
  </p></li>

  <li><p>
  <%= t('home.about.li8')%>
  </p></li>
  </ul>

  <p>
  <%= t('home.about.p3_p1')%> 
  <a href="/t/meta" class="tag">meta</a>-
  <%= t('home.about.p3_p2')%> 
  <a href="https://lobste.rs/moderations?utf8=✓&moderator=(All)&what[tags]=tags"><%= t('home.about.logged')%></a> 
  <%= t('home.about.p3_p3')%> 
  <a href="/t/meta">meta</a> 
  <%= t('home.about.p3_p4')%>
  </p>

  <p>
  <%= t('home.about.p4_p1')%>
  <a href="/t/art">art</a> 
  <%= t('home.about.p4_p2')%>
  </p>

  <p>
  <%= t('home.about.p5')%>
  </p>

  <h2 id="invitations"><%= t('home.about.h2_2')%></h2>
  <p>
  <%= t('home.about.p6_p1')%> <a href="/u"><%= t('home.about.usertree')%></a> <%= t('home.about.p6_p2')%>
  </p>

  <p>
  <%= t('home.about.p7_p1')%> 
  <a href="https://en.wikipedia.org/wiki/Eternal_September"><%= t('home.about.acculturate')%></a>
  <%= t('home.about.p7_p2')%> 
  <a href="/u"><%= t('home.about.recognize')%></a>.
  <%= t('home.about.p7_p3')%> 
  <a href="/chat">chat</a>
  <%= t('home.about.p7_p4')%>
  <% if Rails.application.allow_invitation_requests? %>
    <%= t('home.about.p7_p5')%> 
    <a href="/invitations/request"><%= t('home.about.request')%></a>.
  <% else %>
    <%= t('home.about.p6_p6')%> 
    <a href="/chat"><%= t('home.about.p6_p7')%></a>.
  <% end %>
  </p>

  <p>
  <%= t('home.about.p9_p1')%> <a href="https://lobste.rs/stats"><%= t('home.about.growth')%></a>).
  <%= t('home.about.p9_p2')%> <a href="https://en.wikipedia.org/wiki/Sockpuppet_(Internet)"><%= t('home.about.p9_p3')%></a>
  <%= t('home.about.p9_p4')%>
  </p>

  <h2 id="ranking"><%= t('home.about.h2_3')%> </h2>
  <p>
  <%= t('home.about.p8_p1')%> <a href="http://www.righto.com/2013/11/how-hacker-news-ranking-really-works.html"><%= t('home.about.lower')%></a> 
  <%= t('home.about.p8_p2')%>  
  <a href="/filters"><%= t('home.about.hotness')%></a> 
  <%= t('home.about.p8_p3')%> 
  <a href="https://lobste.rs/moderations?utf8=%E2%9C%93&moderator=(All)&what[tags]=tags"><%= t('home.about.changes')%></a> 
  <%= t('home.about.p8_p4')%>
  <tt>TRACKING_DOMAINS</tt>
  <%= t('home.about.p8_p5')%>
   <tt>utm_</tt>
   <%= t('home.about.p8_p6')%> 
    <a href="https://github.com/lobsters/lobsters/blob/master/app/models/story.rb">story.rb</a>).
  </p>

  <div id="flags">
    <p>
    <%= t('home.about.p10_p1')%> <%= User::MIN_KARMA_TO_FLAG %> 
    <%= t('home.about.p10_p2')%>
    </p>

    <p>
    <%= t('home.about.p11_p1')%>
    <a href="#merging"><%= t('home.about.merging')%></a>)
    <%= t('home.about.p11_p2')%>
    </p>

    <p>
    <%= t('home.about.p12_p1')%>
    </p>
  </div>

  <p>
  <%= t('home.about.p13_p1')%>
  <a href="https://xkcd.com/386"><%= t('home.about.p13_p2')%></a> 
  <%= t('home.about.p13_p3')%>
  </p>

  <h2 id="transparency"><%= t('home.about.h2')%></h2>
  <p>
  <%= t('home.about.p14_p1')%> 
  <a href="/moderations"><%= t('home.about.p14_p2')%> </a> 
  <%= t('home.about.p14_p3')%>  
  <a href="/u?moderators=1"><%= t('home.about.p14_p4')%> </a>.
  <%= t('home.about.p14_p5')%> 
  </p>

  <p>
  <%= t('home.p15_p1')%>  
  <a href="https://en.wikipedia.org/wiki/Shadow_banning"><%= t('home.about.p15_p2')%></a> 
  <%= t('home.about.p15_p3')%>
  </p>

  <p>
  <%= t('home.about.p16_p1')%>
  <a href="https://github.com/lobsters/lobsters"><%= t('home.about.p16_p2')%></a> 
  <%= t('home.about.p16_p3')%> 
  <a href="https://github.com/lobsters/lobsters-ansible"><%= t('home.about.p16_p4')%></a> 
  <%= t('home.about.p16_p5')%>about.
  <a href="https://github.com/lobsters/lobsters/wiki"><%= t('home.about.p16_p6')%></a>;
  <%= t('home.about.p16_p7')%>
  </p>

  <p id="queries">
  <%= t('home.about.p17_p1')%>
  <a href="/stats"><%= t('home.about.p17_p2')%></a> 
  <%= t('home.about.p17_p3')%> 
  <a href="https://github.com/lobsters/lobsters/blob/master/db/schema.rb"><%= t('home.about.p17_p4')%></a> 
  <%= t('home.about.p17_p5')%> 
  <a href="https://lobste.rs/s/cqnzl5/lobste_rs_access_pattern_statistics_for"><%= t('home.about.p17_p6')%></a>
  <%= t('home.about.p17_p7')%> 
  <a href="https://github.com/lobsters/lobsters/issues/517">UChicago</a> 
  <%= t('home.about.p17_p8')%>
  </p>

  <p>
  <%= t('home.about.p18_p1')%>
  <a href="https://news.ycombinator.com">Y Combinator News</a>,
  <a href="https://reddit.com/r/programming">r/programming</a>,
  <a href="https://slashdot.org">Slashdot</a>,
  <a href="https://tilde.news">Tilde News</a>,
  <a href="https://en.wikipedia.org/wiki/Comp.*_hierarchy">comp.*</a>, or
  <a href="http://boards.4chan.org/g/">/g/</a>.
  <%= t('home.about.p18_p2')%> <a href="https://github.com/lobsters/lobsters/"><%= t('home.about.p18_p3')%></a> <%= t('home.about.p18_p3')%>
  </p>

  <h2 id="features"><%= t('home.about.h2_4')%></h2>

  <ul>
  <li><p>
  <strong><a href="/s/jg3eet"><%= t('home.about.p19_1')%></a></strong> 
  <%= t('home.about.p19_2')%> 
  <a href="http://diffbot.com/">Diffbot</a>
  <%= t('home.about.p19_4')%>
  <%- raise t('home.about.p19_5') if Rails.env.production? and Rails.application.name != 'Lobsters' -%>
  </p>

  <li><p>
  <strong><%= t('home.about.p20_1')%> </strong>
  <%= t('home.about.p20_12')%> 
  <a href="https://pushover.net/"><%= t('home.about.p20_2')%></a> 
  <%= t('home.about.p20_3')%>
  </p></li>

  <li><p>
  <strong><%= t('home.about.p21_1')%></strong>  <%= t('home.about.p21_2')%>
  </p></li>

  <li><p>
  <strong><a href="/search"> <%= t('home.about.p22_1')%></a></strong> 
  <%= t('home.about.p22_2')%>
  </p></li>

  <li id="merging"><p>
    <strong><a href="/s/cqq0kg/story_merging"><%= t('home.about.p23_1')%></a></strong> 
    <%= t('home.about.p23_2')%> 
    <a href="/s/klkmey"><%= t('home.about.p23_3')%></a> <%= t('home.about.p23_4')%> <a href="/s/zknzmj"><%= t('home.about.p23_5')%></a> 
    <%= t('home.about.p23_5')%>
  </p></li>

  <li><p>
  <strong><%= t('home.about.p24_1')%></strong> 
  <%= t('home.about.p24_2')%> 
  <tt>http</tt> 
  vs.
  <tt>https</tt>
  <%= t('home.about.p24_3')%>
  </p></li>

  <li><p>
  <strong><a href="/s/z2dczs"><%= t('home.about.p25_1')%></a></strong> 
  <%= t('home.about.p25_2')%>
  (<a href="https://lobste.rs/moderations?utf8=%E2%9C%93&moderator=(Users)">Log</a>)
  </p></li>

  <li><p>
  <strong><a href="/hats"><%= t('home.about.p26_1')%></a></strong> 
  <%= t('home.about.p26_2')%> 
  <em><%= t('home.about.p26_3')%></em>
  <%= t('home.about.p26_4')%>
  </p></li>

  <li><p>
  <strong><a href="/rss"><%= t('home.about.p27_1')%></a></strong> a<%= t('home.about.p27_2')%> <a href="/filters"><%= t('home.about.p27_3')%></a>.
  </p></li>

  <li><p>
  <strong><a href="https://twitter.com/lobsters"><%= t('home.about.p28_1')%></a></strong> 
  <%= t('home.about.p28_2')%> <a href="https://twitter.com/lobsters">@lobsters</a> <%= t('home.about.p28_3')%>
  </p></li>

  <% if false %>
  <li><p>
  <strong><a href="http://lobsters3ik6yqwj.onion/">
  <%= t('home.about.p29_1')%>
  </a></strong> <%= t('home.about.p29_2')%>
  </p></li>
  <% end %>

  <li><p>
  <strong><%= t('home.about.p30_1')%></strong> <%= t('home.about.p30_2')%>
  </p></li>
  </ul>

  <h2 id="trivia">Trivia</h2>

  <ul>
  <li><p>
  <%= t('home.about.p31_1')%>
  <a href="https://lobste.rs/s/udj6qf/hosting_update"><%= t('home.about.p31_2')%></a> 
  <%= t('home.about.p31_3')%>
  <a href="https://cridomains.rs/en"><%= t('home.about.p31_4')%></a>
  <%= t('home.about.p31_5')%> 
  <a href="https://dnsimple.com/">DNSimple</a> 
  <%= t('home.about.p31_6')%>
  <a href="https://www.tarsnap.com">Tarsnap</a>
  <%= t('home.about.p31_7')%>
  </p></li>

  <li id="emoji" style="list-style: none; position: relative; left: -1em;">
  <span style="float: left; line-height: 1.5em;">🦞</span>
  <p style="padding-left: 1em;">
  <a href="https://unicode.org/consortium/adopted-characters.html#s1f99E"><%= t('home.about.p32_1')%></a>:
  <%= t('home.about.p32_2')%> <a href="https://lobste.rs/s/pnysdr/lobsters_emoji_adoption"><%= t('home.about.p32_3')%></a>
  <%= t('home.about.p32_4')%>
  </p></li>

  <li id="michaelbolton"><p>
  <%= t('home.about.p33_1')%><a href="https://en.wikipedia.org/wiki/Domain_hack"><%= t('home.about.p33_2')%></a>
  <%= t('home.about.p33_3')%>
  <%- require 'digest/md5'; instance_variable_set("@#{controller_name}#{action_name}", Digest::MD5.hexdigest(Rails.env) == 'fd89784e59c72499525556f80289b2c7' && Digest::MD5.hexdigest(Rails.application.name) != '4e7c4ddc593da2e7a1cc8c6dc2d38eba') -%>
  <%= t('home.about.p33_4')%> <a href="https://www.youtube.com/watch?v=ADgS_vMGgzY"><%= t('home.about.p33_5')%></a>
  <%= t('home.about.p33_6')%>
  <a href="https://www.nytimes.com/2018/05/18/style/jordan-peterson-12-rules-for-life.html"><%= t('home.about.p33_7')%></a>
  <%= t('home.about.p33_8')%>
  </p></li>

  <li><p>
  <%= t('home.about.p34_1')%>
    <a href="https://darkreader.org/"><%= t('home.about.p34_2')%></a>;
    <%= t('home.about.p34_3')%> <a href="https://add0n.com/stylus.html">Stylus</a> <%= t('home.about.p34_4')%> <a href="https://github.com/openstyles/stylus/wiki/Usercss">UserCSS</a> (<a href="https://en.wikipedia.org/wiki/Stylish#Privacy_issues"><%= t('home.about.p34_5')%></a>). <%= t('home.about.p34_6')%>
    <a href="https://openusercss.org/theme/5cc5ad28ad27da0c0016cf3c">1</a>
    <a href="https://openusercss.org/theme/5cc5ab1ead27da0c0016cf3a">2</a>
    <a href="https://openusercss.org/theme/5cc5aeb3ad27da0c0016cf3d">3</a>
    <a href="https://openusercss.org/theme/5cc5ac10ad27da0c0016cf3b">4</a>.
    <%= t('home.about.p34_7')%>
    <a href="https://github.com/lobsters/lobsters/issues/404">1</a>
    <a href="https://github.com/lobsters/lobsters/issues/637">2</a>
    <a href="https://lobste.rs/s/om839j/dark_light_mode">3</a>
    <a href="https://lobste.rs/s/iaajwb/dark_theme_for_lobsters">4</a>
  </p></li>

  <li><p>
  <%= t('home.about.p34_8')%>
    <a href="https://greasyfork.org/en/scripts/392307-lobste-rs-open-in-new-tab">a<%= t('home.about.p34_9')%></a> <%= t('home.about.p34_10')%>
    (<a href="https://lobste.rs/s/0g48hl/open_links_articles_new_tab"><%= t('home.about.p34_7')%></a>)
  </p></li>

  </ul>
  </div>
</div>



