<div class="box wide">
  <div class="legend">
  <%= t('home.chat.legend')%>
  </div>

  <div class="story_text">
  <p>
  <%= t('home.chat.p1_1)%>
  <a href="http://www.freenode.net">freenode IRC network</a>
  <%= t('home.chat.in')%> <tt>#lobsters</tt><%= t('home.chat.p1_2')%>
  <a href="/s/2hdoop">created</a>
  <%= t('home.chat.by')%>
  <a href="/u/kristof">@kristof</a>.
  <a href="/u/pushcx">@pushcx</a>,
  <a href="/u/355e3b">@355e3b</a> (<tt>c355e3b</tt> on IRC)<%= t('home.chat.and')%>
  <a href="/u/aleph">@aleph</a> (<tt>Church-</tt> on IRC) <%= t('home.chat.p1_3')%>
  </p>

  <p>
  <%= t('home.chat.p2')%>
  </p>

  <p>
  <%= t('home.chat.p3')%>
  </p>

  <p>
  <%= t('home.chat.p4')%>
  </p>

  <p>
  <%= t('home.chat.p5_1')%> <a href="https://github.com/lobsters/lobstersbot">lobstersbot</a>.
  <%= t('home.chat.p5_2')%>
  </p>

  <p>
  <%= t('home.chat.p6_1')%>
  <a href="irc://irc.freenode.net/lobsters"><tt>#lobsters</tt></a> <%= t('home.chat.p6_2')%>
  <tt>irc.freenode.net</tt> <%= t('home.chat.p6_3')%>
  </p>

  <p>
  <%= t('home.chat.p7_1')%>
  <a href="https://github.com/lobsters/lobsters">Lobsters development</a>
  <%= t('home.chat.p7_2')%>
  <tt>lobsters/developer/username</tt> <%= t('home.chat.or')%> <tt>lobsters/user/username</tt>
  <%= t('home.chat.cloak')%>
  </p>

  <p>
  <%= t('home.chat.p8_1')%> 
  <tt>lobstersbot</tt> 
  <%= t('home.chat.p8_2')%>
  <a href="irc://irc.freenode.net/lobsters-feed"><tt>#lobsters-feed</tt></a>.
  </p>

  <p>
  <%= t('home.chat.p9_1')%> 
  <tt>#lobsters-boil</tt> 
  <%= t('home.chat.p9_2')%> 
  <a href="https://en.wikipedia.org/wiki/Abilene_paradox">
  <%= t('home.chat.p9_3')%>
  <%= t('home.chat.p9_4')%>
  ##crustaceans and ##hommers on Freenode subject to their own policies, if you're looking for off-topic discussion.
  </p>

  </div>
</div>
