<% if @cur_url == "/recent" %>
  <div class="box" id="leader">
    <em><%= t('home.index.the')%> <a href="/newest"><%= t('home.index.newest')%></a> <%= t('home.index.text')%></em>
  </div>
<% end %>
<% if @domain.present? %>
  <% if @domain.banned? %>
    <div class="box" id="leader">
    <%= t('home.index.banned')%>
      <%= time_ago_in_words_label(@domain.banned_at) %>
      <% if @domain.banned_by_user %>
        by <%= link_to @domain.banned_by_user.try(:username), @domain.banned_by_user %>:
          <em><%= @domain.banned_reason %></em>
      <% end %>
    </div>
  <% end %>

  <div class="box" id="leader">
    <%= "#{@domain.stories.count} story".pluralize(@domain.stories.count) %> from
    <%= "#{@domain.n_submitters} submitter".pluralize(@domain.n_submitters) %>
  </div>
<% end %>
<% if @categories.present? %>
  <div class="box" id="leader">
  <%= t('home.index.stories')%> with <a href="/tags"><%= t('home.index.tags')%></a> <%= t('home.index.in')%>
    <% @categories.each do |c| %>
      <%= link_to c.category, category_path(c) %>
    <% end %>
    <%= "category".pluralize(@categories) %>

    <%= render(partial: 'categories/multi_category_tip') if @categories.count == 1 %>
  </div>
<% end %>
<% if @tags.present? %>
  <div class="box" id="leader">
  <%= t('home.index.stories')%> <a href="/tags"><%= t('home.index.tagged')%></a> <%= t('home.index.as')%>
    <% @tags.each do |tag| %>
      <%= tag_link(tag) %>

      <% if tag.description.present? %>
        &ndash; <%= tag.description %>
      <% end %>
    <% end %>

    <%= render(partial: 'tags/multi_tag_tip') if @tags.count == 1 %>
  </div>
<% end %>

<ol class="stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render partial: "stories/listdetail", collection: @stories, as: :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? "" : "page/#{@page - 1}" %>">&lt;&lt; Page
      <%= @page - 1 %></a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%=
      @page + 1 %>">Page <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
