<div class="box wide">
  <div class="legend">
  <%= t('home.privacy.legend')%>
  </div>

  <p>
  <%= t('home.privacy.p1')%>
  </p>

  <p>
  <%= t('home.privacy.p2')%> <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act"><%= t('home.privacy.p3')%></a><%= t('home.privacy.p4')%>
  </p>
</div>
