<div class="box wide">
  <div class="legend right">
    <a href="/filters"><%= t('settings.index.a')%></a>
    |
    <%= link_to t('settings.index.logout'), { :controller => "login", :action => "logout" },
      :data => { :confirm => t('settings.index.confirm') },
      :method => "post" %>
  </div>
  <div class="legend">
  <%= t('settings.index.legend1')%> (<a href="/u/<%= @user.username %>"><%= t('settings.index.legend2')%></a>)
  </div>

  <%= form_with model: @edit_user, url: settings_path, method: :post, id: 'edit_user', local: true do |f| %>
    <%= errors_for f.object %>

    <div class="boxline">
      <%= f.label :username, t('settings.index.username'), :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt><%= User.username_regex_s %></tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :current_password, t('settings.index.current'),
        :class => "required" %>
    <%= f.password_field :current_password, :name => "current_password", :size => 30 %>
    </div>

    <div class="boxline">
      <%= f.label :password, t('settings.index.newpassword'), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, t('settings.index.confirmpassword'),
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, t('settings.index.mail'), :class => "required" %>
      <%= f.email_field :email, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :homepage, t('settings.index.homepage'), :class => "required" %>
      <%= f.url_field :homepage, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :about, t('settings.index.about'), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
        <%= t('signup.invited.markdown')%><
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= f.submit t('settings.index.saveaccount') %>
    </p>

    <br>

    <div class="legend">
    <%= t('settings.index.external')%>
    </div>

    <div class="boxline">
      <%= f.label :gravatar,
        raw("<a href=\"https://gravatar.com/\">Gravatar</a>:"),
        :class => "required" %>
      <span>
      <%= t('settings.index.p1')%>
        (<%= link_to "Expire cache", "/avatars/expire", :method => :post %>)
      </span>
    </div>

    <% if Pushover.enabled? %>
      <div class="boxline">
        <%= f.label :pushover_user_key,
          raw("<a href=\"https://pushover.net/\">Pushover</a>:"),
          :class => "required" %>
        <span>
        <%= link_to((@edit_user.pushover_user_key.present??
        t('settings.index.linktext1') : t('settings.index.linktext2')),
          "/settings/pushover_auth", :class => "pushover_button",
          :method => :post) %>
        <span class="hint">
        <%= t('settings.index.p2')%>
        </span>
        </span>
      </div>
    <% end %>

    <% if Github.enabled? %>
      <div class="boxline">
        <span>
        <%= f.label :github_username,
          raw("<a href=\"https://github.com/\">GitHub</a>:"),
          :class => "required" %>
        <% if @edit_user.github_username.present? %>
        <%= t('settings.index.linkedto')%>
          <strong><a href="https://github.com/<%= h(@edit_user.github_username)
            %>"><%= h(@edit_user.github_username) %></a></strong>
            (<%= link_to t('settings.index.disconnect'), "/settings/github_disconnect",
              :method => :post %>)
        <% else %>
          <a href="/settings/github_auth"><%= t('settings.index.connect')%></a>
        <% end %>
        </span>
      </div>
    <% end %>

    <% if Twitter.enabled? %>
      <div class="boxline">
        <%= f.label :twitter_username,
          raw("<a href=\"https://twitter.com/\">Twitter</a>:"),
          :class => "required" %>
        <span>
        <% if @edit_user.twitter_username.present? %>
        <%= t('settings.index.linkedto')%>
          <strong><a href="https://twitter.com/<%= h(@edit_user.twitter_username)
            %>">@<%= h(@edit_user.twitter_username) %></a></strong>
            (<%= link_to t('settings.index.disconnect'), "/settings/twitter_disconnect",
              :method => :post %>)
        <% else %>
          <a href="/settings/twitter_auth"><%= t('settings.index.connect')%></a>
        <% end %>
        </span>
      </div>
    <% end %>

    <% if Keybase.enabled? %>
      <div class="boxline">
        <%= f.label :kb_username, raw("<a href=\"https://keybase.io/\">Keybase</a>:"), :class => "required" %>
        <span>
          <%= render :partial => "keybase_proofs/proofs", locals: {user: @edit_user, for_self: true} %>
        </span>
      </div>
    <% end %>

    <br>

    <div class="legend">
      <%= t('settings.index.legend3')%>
    </div>

    <div class="boxline">
      <%= f.label :twofa, t('settings.index.factorauth'), :class => "required" %>
      <span>
      <% if @edit_user.totp_secret.present? %>
        <span style="color: green; font-weight: bold;">
        <%= t('settings.index.enabled')%>
        </span> (<a href="/settings/2fa"><%= t('settings.index.disable')%></a>)
      <% else %>
        Disabled (<a href="/settings/2fa"><%= t('settings.index.enroll')%></a>)
      <% end %>
      </span>
    </div>

    <br>

    <div class="legend">
    <%= t('settings.index.legend4')%>
    </div>

    <div class="boxline">
      <%= f.label :email_replies, t('settings.index.receivemail'), :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, t('settings.index.receivealert'),
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
      <%= t('settings.index.hint')%>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('settings.index.legend5')%>
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, t('settings.index.receivemail'), :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, t('settings.index.receivealert'),
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        <%= t('settings.index.hint')%>
      </span>
    </div>

    <br>

    <div class="legend">
    <%= t('settings.index.legend6')%>
    </div>

    <div class="boxline">
      <%= f.label :email_messages, t('settings.index.receivemail'), :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, t('settings.index.receivealert'),
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        <%= t('settings.index.hint')%>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('settings.index.legend7')%>
    </div>

    <div class="boxline">
      <%= f.label :show_submitted_story_threads,
        raw(" t('settings.index.showin') <a href=\"/threads\"> t('settings.index.yourthreads')</a>:"),
        :class => "required" %>
      <%= f.check_box :show_submitted_story_threads %>
    </div>

    <br>

    <div class="legend">
      <%= t('settings.index.legend8')%>
    </div>

    <p>
    <%= t('settings.index.p3_1')%> <a href="/filters"><%= t('settings.index.tagfilter')%></a>.
    <%= t('settings.index.p3_2')%>
    </p>

    <div class="boxline">
      <%= f.label :mailing_list_mode, t('settings.index.receivelist'),
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ t('settings.index.nomails'), 0 ],
        [ t('settings.index.allstoriesandcomments'), 1 ], [ t('settings.index.onlystories'), 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required"><%= t('settings.index.listaddress')%></label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('settings.index.legend9')%>
    </div>

    <div class="boxline">
      <%= f.label :show_story_previews, t('settings.index.showstory'),
        :class => "required" %>
      <%= f.check_box :show_story_previews %>
    </div>

    <div class="boxline">
      <%= f.label :show_avatars, t('settings.index.showuser'), :class => "required" %>
      <%= f.check_box :show_avatars %>
    </div>

    <br>
    <%= f.submit t('settings.index.saveall') %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    <%= t('settings.index.legend10')%>
  </div>

  <% if @user.can_invite? %>
    <%= render :partial => "users/invitationform" %>
  <% else %>
  <%= t('settings.index.sendinvitations')%> <%= @user.disabled_invite_reason %>
  <% end %>

  <br>
  <br>

  <div class="deletion">
      <%= form_with model: @edit_user, url: delete_account_path, method: :post, id: 'delete_user', local: true do |f| %>
      <div class="legend">
      <%= t('settings.index.legend11')%>
      </div>

      <p>
      <%= t('settings.index.p4')%>
      </p>
      <ul>
        <li><%= t('settings.index.li1')%></li>
        <li><%= t('settings.index.li2')%></li>
        <li><%= t('settings.index.li3')%></li>
        <li><%= t('settings.index.li4')%></li>
        <li>
        <%= t('settings.index.li5_p1')%>
          <a href="/u/inactive-user"> <%=t('settings.index.inactiveuser')%> </a> 
          <%= t('settings.index.li5_p2')%>
        </li>
      </ul>

      <div class="boxline">
        <%= f.label :password, t('settings.index.verifypass'), :class => "required" %>
        <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
      </div>
      <div class="boxline">
        <%= f.label :i_am_sure, t('settings.index.iamsure'), :class => "required" %>
        <%= f.check_box :i_am_sure %>
        <br />
        <%= f.label :disown, t('settings.index.disown') %>
        <%= f.check_box :disown %> <%= t('settings.index.optional')%>
      </div>
      <%= f.submit t('settings.index.deleteaccount'), :class => "deletion" %>
    <% end %>
  </div>
</div>
