<div class="box wide">
  <div class="legend right">
    <a href="/settings"><%= t('settings.twofa_enroll.legend')%></a>
  </div>
  <div class="legend">
    <%= @title %>
  </div>

  <%= form_with url: twofa_update_url, local: true do |f| %>
    <p>
     <%= t('settings.twofa_verify.p1')%>
    </p>

    <div class="boxline">
      <%= f.label :totp_code, t('settings.twofa_verify.code'), :class => "required" %>
      <%= f.number_field :totp_code, :size => 10, :autocomplete => "off",
          :autofocus => true, :class => "totp_code" %>
    </div>

    <p>
    <%= f.submit t('settings.twofa_verify.verify') %>
  <% end %>
</div>

