<div class="box wide">
  <div class="legend right">
    <a href="/settings"><%= t('settings.twofa_enroll.legend')%></a>
  </div>
  <div class="legend">
    <%= @title %>
  </div>

  <p>
  <%= t('settings.twofa_enroll.p1_p1')%> <a
  href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm"
  target="_blank">TOTP</a> <%= t('settings.twofa_enroll.p1_p2')%>
  </p>

  <%= raw @qr_svg %>

  <p>
  <%= t('settings.twofa_enroll.p2')%>
  </p>

  <p>
  <%= button_to t('settings.twofa_enroll.verify'), twofa_verify_url, :method => :get %>
</div>


