<div class="box wide">
  <div class="legend right">
    <a href="/settings">Back to Settings</a>
  </div>
  <div class="legend">
    <%= @title %>
  </div>

  <%= form_with url: twofa_update_url do |f| %>
    <p>
    To enable Two-Factor Authentication on your account using your new TOTP
    secret, enter the six-digit code from your TOTP application:
    </p>

    <div class="boxline">
      <%= f.label :totp_code, "TOTP Code:", :class => "required" %>
      <%= f.number_field :totp_code, :size => 10, :autocomplete => "off",
          :autofocus => true, :class => "totp_code" %>
    </div>

    <p>
    <%= f.submit "Verify and Enable" %>
  <% end %>
</div>
