<div class="box wide">
  <div class="legend">
    Request an Invitation
  </div>

  <p>
  If you don't know (or can't find) an <a href="/u/">existing user</a> from
  whom to request an invitation, you can make a public request for one.  This
  will display your name and memo to all other logged-in users who can then
  send you an invitation if they recognize you.
  </p>

  <p>
  Your e-mail address must be valid and confirmed by visiting a URL e-mailed to
  you before your request will be displayed.  Your e-mail address will not be
  shown to any other users (except moderators).
  </p>

  <%= form_with model: @invitation_request,
  :url => create_invitation_by_request_path do |f| %>
    <p>
    <%= f.label :name, "Name (not username):" %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, "E-mail Address:" %>
    <%= f.email_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, "URL:" %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na">URL to verify you (Personal website, GitHub account,
      etc.)</span>
    </p>

    <p>
    <%= f.submit "Request Invitation" %>
    </p>
  <% end %>
</div>
