<div class="box wide">
  <div class="legend">
  <%= t('inv.build.legend')%>
  </div>

  <p>
  <%= t('inv.build.p1')%> 
  <a href="/u/"><%= t('inv.build.p2')%></a> 
  from
  <%= t('inv.build.p3')%>
  </p>

  <p>
  <%= t('inv.build.p4')%>
  </p>

  <%= form_with model: @invitation_request, url: create_invitation_by_request_path, local: true do |f| %>
    <p>
    <%= f.label :name, t('inv.build.name') %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t('inv.build.mail') %>
    <%= f.email_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t('inv.build.url') %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"><%= t('inv.build.p5')%></span>
    </p>

    <p>
    <%= f.submit t('inv.build.request') %>
    </p>
  <% end %>
</div>
