<div class="box wide">
  <div class="legend">
    <span>
    <%= t('key.new.legend1')%> (<%= @user.username %>) <%= t('key.new.legend2')%>
    </span>
  </div>
  <div id="gravatar">
    <%= avatar_img(@user, 100) %>
  </div>

  <p>
  <%= image_tag @kb_avatar, width: 100 %>
  </p>

  <%= form_with url: keybase_proofs_url, scope: :keybase_proof, local: true do |f| %>
    Is this you on Keybase? <b><i><%= @kb_username %></b></i>
    <%= f.hidden_field "kb_username", value: @kb_username %>
    <%= f.hidden_field "kb_signature", value: @kb_signature %>
    <%= f.hidden_field "kb_ua", value: @kb_ua %>
    <%= f.hidden_field "username", value: @user.username %>
    <p>
      <%= f.submit t('key.new.confirm') %>
    </p>
  <% end %>
</div>
