<%# locals: (story:, f: nil) -%>
<div>
  <div class="form_errors_header">
    <% if story.errors.any? %>
      <%= errors_for story %>
    <% end %>
    <% if story.is_resubmit? %>
      <div class="flash-notice">
        <p>
          This story has been submitted before. You can resubmit it with a comment to start a fresh discussion.
        </p>

        <%= render partial: "stories/similar", locals: { similar: story.similar_stories } %>
      </div>

      <div>
        <div class="d">
          <strong>What has changed or warrants new discussion?</strong><br>
          (Not just that you think it's still interesting or read it for the first time.)
          <br><br>
        </div>

        <%= label_tag :comment, "Comment:" %>
        <%= text_area_tag "comment", @comment&.comment, :rows => 5 %>
        <br><br>
      </div>
    <% elsif story.similar_stories.any? %>
      <p>Previous discussions for this story:</p>
      <%= render partial: "stories/similar", locals: { similar: story.similar_stories } %>
    <% end %>
  </div>
</div>
