<div>
  <div class="form_errors_header">
    <% if story.errors.any? %>
      <%= errors_for story %>
    <% elsif !story.errors.any? && story.public_similar_stories.any? %>
      <div class="flash-notice">
        <h2><%= t('stories.form_errors.h2_part1')%> <%= time_ago_in_words_label(story.most_recent_similar.created_at) %><%= t('stories.form_errors.h2_part2')%></h2>
        <p>
        <%= t('stories.form_errors.p1')%>
        </p>
      </div>

      <% if defined?(f) %>
        <%= f.hidden_field :seen_previous %>
      <% else %>
        <%= form_with model: story, local: true do |f| %>
          <%= f.hidden_field :seen_previous %>
        <% end %>
      <% end %>
    <% end %>

    <% if story.public_similar_stories.any? %>
      <p><%= t('stories.form_errors.p2')%></p>
      <%= render partial: "stories/similar", locals: { similar: story.similar_stories } %>
    <% end %>
  </div>
</div>
