<%= error_messages_for f.object %>

<div class="box">
  <div class="boxline">
	<% if !f.object.new_record? && !f.object.url.blank? %>
    <%= f.label :url, "URL:", :class => "required" %>
    <div class="d">
		<a href="<%= f.object.url %>"><%= f.object.url %></a>
    </div>
	<% elsif !f.object.id %>
    <%= f.label :url, "URL:", :class => "required" %>
		<%= f.text_field :url, :autocomplete => "off" %>
    <%= button_tag "Fetch Title", :id => "story_fetch_title",
      :type => "button" %>
	<% end %>
  </div>

  <div class="boxline">
    <%= f.label :title, "Title:", :class => "required" %>
    <%= f.text_field :title, :maxlength => 100, :autocomplete => "off"  %>
	</div>

  <div class="boxline" style="margin-bottom: 2px;">
	<%= f.label :tags_a, "Tags:", :class => "required",
    :style => "line-height: 2.3em;" %>
  <%= f.select "tags_a", options_for_select(
    Tag.all_with_filtered_counts_for(@user).map{|t|
    [ "#{t.tag} - #{t.description}", t.tag, { "data-html" => raw("<strong>") +
      t.tag + raw("</strong> - ") + t.description.to_s +
      (t.filtered_count == 0 ? "" :
      raw(" <em>") + "#{t.filtered_count} user" +
      (t.filtered_count == 1 ? "" : "s") + " filtering" +
      raw("</em>")) } ]}, f.object.tags_a), {}, { :multiple => true } %>
  </div>

  <div class="boxline">
    <%= f.label :description, "Text:", :class => "required" %>
    <%= f.text_area :description, :rows => 15,
      :placeholder => "Optional when submitting a URL; please see guidelines",
      :autocomplete => "off" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#story_fetch_title").click(function() {
      Lobsters.fetchURLTitle($(this), $("#story_url"), $("#story_title"));
      return false;
    });
  });
</script>
