<%# locals: (story:) -%>

<%# remember: _singledetail replicates a lot of this for the single-story view %>

<%#
  The h-entry, u-report-of, u-url and h-card css classes are necessary
  for the webmentions support. http://microformats.org/wiki/h-entry

  This has apparently useless <span> tags explained in a comment in CSS
  around .negative_1 in CSS (introduced same commit as this comment).
%>
<li id="story_<%= story.short_id %>" data-shortid="<%= story.short_id %>"
class="story <%= story.current_upvoted? ? "upvoted" : "" %>
<%= story.current_flagged? ? "flagged" : "" %>
<%= story.negativity_class %>
<%= story.is_hidden_by_cur_user ? "hidden" : "" %>
<%= story.is_saved_by_cur_user ? "saved" : "" %>
<%= story.is_deleted? ? "deleted" : "" %>">
<div class="story_liner h-entry">
  <div class="voters">
    <%= link_to (story.show_score_to_user?(@user) ? story.score : '~'),
                (@user ? '': login_path), :class => "upvoter" %>
  </div>
  <div class="details">
    <span role="heading" aria-level="1" class="link h-cite u-repost-of">
      <% if story.can_be_seen_by_user?(@user) %>
        <a class="u-url" href="<%= Routes.url_or_comments_path(story) %>" rel="ugc <%= story.send_referrer? ? '' : 'noreferrer' %>"><%= story.title %></a>
      <% end %>
      <% if story.is_gone? %>
        [Story removed by <%= story.is_moderated? ? "moderator" : "submitter" %>]
      <% end %>
    </span>
    <% if story.stories_count > 0 %>
      <span class="merge" aria-label="<%= story.stories_count + 1 %> stories merged"><%= story.stories_count + 1 %></span>
    <% elsif story.merged_story_id %>
      <span class="merge">merged</span>
    <% end %>
    <% if story.markeddown_description.present? %>
      <a
        aria-label="<%= "Description text for: #{story.title}" %>"
        class="description_present"
        title="<%= truncate(story.description, :length => 500) %>"
        href="<%= Routes.title_path story %>">&#x2636;</a>
    <% end %>
    <% if story.can_be_seen_by_user?(@user) %>
      <span class="tags">
        <% story.tags.each do |tag| %>
          <%= tag_link(tag) %>
        <% end %>
      </span>
      <% if story.origin.present? %>
        <%= link_to story.origin.identifier, origin_path(story.origin), class: 'domain' %>
      <% elsif story.domain.present? %>
        <%= link_to story.domain.domain, domain_path(story.domain), class: 'domain' %>
      <% end %>
    <% end %>

    <% if @user&.show_story_previews? %>
      <% if (sc = story.description_or_story_text()).present? %>
        <details class="story_content">
          <summary><%= sc %></summary>
        </details>
      <% end %>
    <% end %>

    <div class="byline">
      <%= inline_avatar_for @user, story.user %>
      <% if story.previewing %>
        <% if story.user_is_author? %>
          <span> authored by </span>
        <% else %>
          <span> via </span>
        <% end %>

        <%= styled_user_link story.user, story, class: ['u-author', 'h-card'] %>
        <span> just now </span>
      <% else %>
        <% if story.user_is_author? %>
          <span> authored by </span>
        <% else %>
          <span> via </span>
        <% end %>
        <%= styled_user_link story.user, story, class: ['u-author', 'h-card'] %>

        <%= how_long_ago_label(story.created_at) %>

        <% if story.is_editable_by_user?(@user) %>
          <%= divider_tag %>
          <a href="<%= edit_story_path(story.short_id) %>" class="<%= story.has_suggestions? ? "story_has_suggestions" : "" %>">edit</a>
        <% end %>
        <% if @user&.is_moderator? %>
          <%= divider_tag %>
          <a href="<%= edit_mod_story_path(story.short_id) %>" class="<%= story.has_suggestions? ? "story_has_suggestions" : "" %>">mod edit</a>
        <% end %>
        <% if story.can_have_suggestions_from_user?(@user) %>
          <%= divider_tag %><%= link_to "suggest", new_story_suggestion_path(story.short_id),
            :class => "suggester" %>
        <% end %>
        <% if !story.is_gone? && @user %>
          <% if @user && story.current_flagged? %>
            <%= divider_tag %><a class="flagger">unflag (<%=
              Vote::STORY_REASONS[story.current_vote[:reason]].to_s.downcase %>)</a>
          <% elsif @user && @user.can_flag?(story) %>
            <%= divider_tag %>
            <span class="dropdown_parent">
              <a class="flagger">flag</a>
            </span>
          <% end %>
          <% if story.is_hidden_by_cur_user %>
            <%= divider_tag %><%= link_to "unhide", story_unhide_path(story.short_id), :class => "hider" %>
          <% else %>
            <%= divider_tag %><%= link_to "hide", story_hide_path(story.short_id), :class => "hider" %>
          <% end %>
          <%= divider_tag %>
          <%= form_with :class => "saver", url: story.is_saved_by_cur_user ? story_unsave_path(story.short_id) : story_save_path(story.short_id) do |form| %>
            <%= form.submit story.is_saved_by_cur_user ? "unsave" : "save", :class => "btn-link" %>
          <% end %>

        <% end %>
        <% if story.url.present? && (!story.is_gone? || @user.try(:is_moderator?))  %>
          <%= divider_tag %>
          <span class="dropdown_parent">
            <input id="archive_<%= story.short_id %>" class="archive_button" type="checkbox">
            <label for="archive_<%= story.short_id %>" tabindex="0">caches</label>
            <div class="archive-dropdown">
              <a href="<%= story.archiveorg_url %>">Archive.org</a>
              <a href="<%= story.archivetoday_url %>">Archive.today</a>
              <a href="<%= story.ghost_url %>">Ghostarchive</a>
            </div>
          </span>
        <% end %>
        <% if !story.is_gone? || @user.try(:is_moderator?) %>
          <span class="comments_label">
            <%= divider_tag %>
            <a role="heading" aria-level="2" href="<%= Routes.title_path story %>">
            <% if story.comments_count == 0 %>
              no comments
            <% else %>
              <%= story.comments_count %> <%= 'comment'.pluralize(story.comments_count) %>
            <% end %>
            </a>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<a href="<%= Routes.title_path story %>" class="mobile_comments <%= story.comments_count == 0 ? "zero" : "" %>" style="display: none;">
  <span><%= story.comments_count %></span>
</a>
</li>
