<%#
  The h-entry, u-report-of, u-url and h-card css classes are necessary
  for the webmentions support. http://microformats.org/wiki/h-entry
%>
<li id="story_<%= story.short_id %>" data-shortid="<%= story.short_id %>"
class="story <%= story.vote && story.vote[:vote] == 1 ? "upvoted" : "" %>
<%= story.vote && story.vote[:vote] == -1 ? "downvoted" : "" %>
<%= story.score <= -1 ? "negative_1" : "" %>
<%= story.score <= -3 ? "negative_3" : "" %>
<%= story.score <= -5 ? "negative_5" : "" %>
<%= story.is_hidden_by_cur_user ? "hidden" : "" %>
<%= story.is_saved_by_cur_user ? "saved" : "" %>
<%= story.is_expired? ? "expired" : "" %>">
<div class="story_liner h-entry">
  <div class="voters">
    <% if @user %>
      <a class="upvoter" title="Add upvote"></a>
    <% else %>
      <%= link_to "", login_path, :class => "upvoter" %>
    <% end %>
    <div class="score"><%= story.show_score_to_user?(@user) ? story.score : '~' %></div>
  </div>
  <div class="details">
    <span class="link h-cite u-repost-of">
      <% if story.can_be_seen_by_user?(@user) %>
        <a class="u-url" href="<%= story.url_or_comments_path %>" rel="ugc <%= story.send_referrer? ? '' : 'noreferrer' %>"><%= break_long_words(story.title) %></a>
      <% end %>
      <% if story.is_gone? %>
        [Story removed by <%= story.is_moderated? ? "moderator" :
          "original submitter" %>]
      <% end %>
    </span>
    <% if story.markeddown_description.present? %>
      <a class="description_present" title="<%= truncate(story.description,
        :length => 500) %>" href="<%= story.comments_path %>">&#x2636;</a>
    <% end %>
    <% if story.can_be_seen_by_user?(@user) %>
      <span class="tags">
        <% story.tags.each do |tag| %>
          <%= tag_link(tag) %>
        <% end %>
      </span>
      <% if story.domain.present? %>
        <a class="domain" href="<%= domain_path(story.domain) %>"><%= break_long_words(story.domain.domain) %></a>
      <% end %>

      <% if defined?(single_story) && single_story %>
        <% story.merged_stories.not_deleted.includes(:domain, :user, :tags).each do |ms| %>
          <br>
          <span class="merge"></span>
          <span class="link">
            <a href="<%= ms.url_or_comments_path %>" rel="ugc <%= ms.send_referrer? ? '' : 'noreferrer' %>"%><%= break_long_words(ms.title) %></a>
          </span>
          <span class="tags">
            <% ms.tags.each do |tag| %>
              <a href="<%= tag_path(tag) %>"
                class="<%= tag.css_class %>"
                title="<%= tag.description %>"><%= tag.tag %></a>
            <% end %>
          </span>
          <% if ms.domain_id.present? %>
            <a class="domain" href="<%= domain_path(ms.domain) %>"><%= break_long_words(ms.domain.domain) %></a>
          <% end %>
          <span class="byline">
            <% if (@user && @user.show_avatars?) || !@user %>
              <a href="/u/<%= ms.user.username %>"><%=
                avatar_img(ms.user, 16) %></a>
            <% end %>
            <% if story.user_is_author? %>
              authored by
            <% else %>
              via
            <% end %>
            <a href="/u/<%= ms.user.username %>" class="u-author h-card <%=
              ms.html_class_for_user %>"><%= ms.user.username %></a>

            <%= time_ago_in_words_label(ms.created_at) %>
            <% if ms.is_editable_by_user?(@user) %>
              |
              <a href="<%= edit_story_path(ms.short_id) %>">edit</a>
            <% end %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <% if !(defined?(single_story) && single_story) && @user &&
    @user.show_story_previews? %>
      <% if (sc = story.description_or_story_cache(500)).present? %>
        <div class="story_content">
          <%= break_long_words(sc) %>
        </div>
      <% end %>
    <% end %>

    <div class="byline">
      <% if (@user && @user.show_avatars?) || !@user %>
        <a href="/u/<%= story.user.username %>"><%=
          avatar_img(story.user, 16) %></a>
      <% end %>
      <% if story.previewing %>
        <% if story.user_is_author? %>
          authored by
        <% else %>
          via
        <% end %>
        <a class="u-author h-card <%= story.html_class_for_user %>"><%=
          story.user.username %></a>
        just now
      <% else %>
        <% if story.user_is_author? %>
          authored by
        <% else %>
          via
        <% end %>
        <a href="/u/<%= story.user.username %>" class="u-author h-card <%=
          story.html_class_for_user %>"><%= story.user.username %></a>

        <%= time_ago_in_words_label(story.created_at) %>

        <% if story.is_editable_by_user?(@user) %>
          |
          <a href="<%= edit_story_path(story.short_id) %>" class="<%=
            story.has_suggestions? ? "story_has_suggestions" : "" %>">edit</a>
        <% end %>
        <% if story.can_have_suggestions_from_user?(@user) %>
          | <%= link_to "suggest", story_suggest_path(story.short_id),
            :class => "suggester" %>
        <% end %>
        <% if !story.is_gone? && @user %>
          <% if @user && story.vote && story.vote[:vote] == -1 %>
            | <a class="flagger">unflag (<%=
              Vote::STORY_REASONS[story.vote[:reason]].to_s.downcase %>)</a>
          <% elsif @user && @user.can_downvote?(story) %>
            | <a class="flagger">flag</a>
          <% end %>
          <% if story.is_hidden_by_cur_user %>
            | <%= link_to "unhide", story_unhide_path(story.short_id),
              :class => "hider" %>
          <% else %>
            | <%= link_to "hide", story_hide_path(story.short_id),
              :class => "hider" %>
          <% end %>
          <% if defined?(single_story) && single_story && story.hider_count > 0 %>
            (hidden by <%= pluralize(story.hider_count, "user") %>)
          <% end %>
          <% if story.is_saved_by_cur_user %>
            | <%= link_to "unsave", story_unsave_path(story.short_id),
              :class => "saver" %>
          <% else %>
            | <%= link_to "save", story_save_path(story.short_id),
              :class => "saver" %>
          <% end %>
        <% end %>
        <% if story.url.present? %>
          |
          <a href="<%= story.archive_url %>" rel="ugc" target="_blank">cached</a>
        <% end %>
        <% if !story.is_gone? || @user.try(:is_moderator?) %>
          <span class="comments_label">
            |
            <a href="<%= story.comments_path %>">
            <% if story.comments_count == 0 %>
              no comments</a>
            <% else %>
              <%= story.comments_count %> <%= 'comment'.pluralize(story.comments_count) %></a>
            <% end %>
          </span>
        <% end %>

        <% if defined?(single_story) && single_story &&
        ((story.downvotes > 0 && @user && @user.is_moderator?) ||
        (story.downvotes >= 3 || story.score <= 0)) %>
          | <%= story.vote_summary_for(@user).downcase %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<a href="<%= story.comments_path %>" class="mobile_comments <%= story.comments_count == 0 ? "zero" : "" %>" style="display: none;">
  <span><%= story.comments_count %></span>
</a>
</li>
