<ol>
  <% similar.each do |story| %>
    <li>
      <a href="<%= story.url %>" target="_blank"><%= story.title %></a>
      <%= story.user_is_author? ? "authored by" : "via" %>
      <a href="/u/<%= story.user.username %>" class="<%= story.html_class_for_user %>"><%= story.user.username %></a>
      <%= time_ago_in_words_label(story.created_at) %>
      <span>
        |
        <%= story.score %> <%= 'point'.pluralize(story.score) %>
      </span>
      <span class="comments_label">
        |
        <a href="<%= story.comments_path %>">
          <% if story.comments_count == 0 %>
            no comments</a>
          <% else %>
            <%= story.comments_count %> <%= 'comment'.pluralize(story.comments_count) %></a>
          <% end %>
      </span>
    </li>
  <% end %>
</ol>
