<% @similar.each do | story | %>
    <a href="<%= story.url %>" target="_blank">
        <%= story.title %><em></em></a>
    <span class="comments_label">
        |
        <a href="<%= story.comments_path %>">
        <% if story.comments_count == 0 %>
        no comments
        <% else %>
        <%= story.comments_count %>
            comment<%= story.comments_count == 1 ? "" : "s"%></a>
        <% end %>
    </span>
    <span>
        |
        <%= story.upvotes - story.downvotes %>
            point<%= story.comments_count == 1 ? "" : "s" %>
    </span>
        - 
    <span class="negative">
        <em>published on </em><%=story.created_at.strftime("%m/%d/%Y") %>
        <em> at </em> <%= story.created_at.strftime("%I:%M%p") %></em>
    </span>
    <br>
<% end %>