<div class="box" id="story_box">
	<div id="story_holder">
    <%= form_with model: @story, id: 'edit_story' do |f| %>
      <%= render :partial => "stories/form", :locals => { :story => @story,
        :f => f } %>

      <div class="box">
        <div class="boxline actions markdown_help_toggler">
          <div class="markdown_help_label">
            Markdown formatting available
          </div>

          <%= f.submit "Save" %>

          <% if @story.is_gone? && @story.is_undeletable_by_user?(@user) %>
            &nbsp; | &nbsp;
            <%= f.submit "Undelete", formaction: story_undelete_path(@story.short_id),
              :data => { :confirm => "Undelete this story?" } %>
          <% elsif !@story.is_gone? %>
            &nbsp; | &nbsp;
            <%= f.submit "Delete", formaction: story_destroy_path(@story.short_id),
              :class => "deletion", :data => { :confirm => "Delete this story?" } %>
          <% end %>

          <div style="clear: both;"></div>

          <%= render :partial => "global/markdownhelp",
            :locals => { allow_images: @story.can_have_images? } %>
        </div>
      </div>
    <% end %>
	</div>
</div>
