<div class="box" id="story_box">
  <div class="legend">
  <%= t('stories.edit.legend')%>
  </div>

  <%= form_with model: @story, url: story_path(@story.short_id), method: :put, id: 'edit_story', local: true do |f| %>
    <%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f } %>

    <% if @user.is_moderator? %>
      <br />
      <div class="box">
        <div class="boxline">
          <%= f.label :merge_story_short_id, t('stories.edit.merge'),
            :class => "required" %>
          <%= f.text_field :merge_story_short_id, :autocomplete => "off",
            :placeholder => t('stories.edit.placeholder1') <<
            t('stories.edit.bemerged') %>
        </div>
        <div class="boxline">
          <%= f.label :unavailable_at, t('stories.edit.unavailable'),
            :class => "required" %>
          <%= f.check_box :is_unavailable %>
          <%= f.label :unavailable_at, t('stories.edit.unavailable_label1') <<
          t('stories.edit.unavailable_label2'), :class => "normal" %>
        </div>
        <% if @story.user_id != @user.id %>
          <div class="boxline">
            <%= f.label :moderation_reason, t('stories.edit.modreason'), :class => "required" %>
            <%= f.text_field :moderation_reason %>
          </div>
        <% end %>
      </div>
    <% end %>

    <p></p>

    <div class="box">
      <div class="boxline actions markdown_help_toggler">
        <div class="markdown_help_label">
        <%= t('stories.edit.markdown')%>
        </div>

        <%= f.submit t('stories.edit.save') %>

        <% if @story.is_gone? && @story.is_undeletable_by_user?(@user) %>
          &nbsp; | &nbsp;
          <%= link_to t('stories.edit.undelete'), story_undelete_path(@story.short_id),
            :method => :post, :data => {
            :confirm => t('stories.edit.confirm') },
            :class => "button" %>
        <% elsif !@story.is_gone? %>
          &nbsp; | &nbsp;
          <% if @story.user_id != @user.id && @user.is_moderator? %>
            <%= link_to t('stories.edit.delete'), story_path(@story.short_id),
              :method => :delete, :class => "button mod_story_link deletion" %>
          <% else %>
            <%= link_to t('stories.edit.delete'), story_path(@story.short_id),
              :method => :delete, :data => {
              :confirm => t('stories.edit.confirmdelete') },
              :class => "button" %>
          <% end %>
        <% end %>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp",
          :locals => { allow_images: @story.can_have_images? } %>
      </div>
    </div>
  <% end %>
</div>
