<div class="box" id="story_box">
  <div class="legend">
    Submit a Story
  </div>

  <div id="story_holder">
    <%= form_for @story do |f| %>
      <%= render :partial => "stories/form", :locals => { :story => @story, :f => f } %>

      <p></p>

      <div class="box">
        <div class="boxline actions markdown_help_toggler">
          <div class="markdown_help_label">
            Markdown formatting available
          </div>

          <%= submit_tag "Submit" %>

          &nbsp;
          <button type="button" class="story-preview">Preview</button>

          <div style="clear: both;"></div>

          <%= render :partial => "global/markdownhelp",
            :locals => { :allow_images => true } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="story_preview">
  <% if @story.previewing && @story.valid? %>
    <%= render :template => "stories/show" %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    <% if !@story.previewing %>
      $("#story_url").focus();
    <% end %>
  });
</script>
