<div class="box" id="story_box">
  <div class="legend">
    <%= t('stories.suggest.legend')%>
  </div>

  <%= form_with model: @story, url: story_suggest_path(@story.short_id), method: :post, html: { id: 'edit_story' }, local: true do |f| %>
    <%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f, :suggesting => true } %>

    <p></p>

    <div class="box">
      <div class="boxline actions">
        <%= f.submit t('stories.suggest.suggest') %>
        &nbsp;or <a href="<%= story_path(@story.short_id) %>"><%= t('stories.suggest.cancel')%></a>
      </div>
    </div>
  <% end %>
</div>

