<% is_admin = @user.try(:is_admin?) %>
<div class="box wide">
  <div class="legend">Tags</div>

  <% @categories.each do |category| %>
    <h2><%= link_to category.category, category_path(category) %></h2>

    <% category.tags.each do |tag| %>
      <%= link_to tag.tag, tag_path(tag), class: tag.css_class %>
      <%= tag.description %>
      <% if !tag.active %>
        | <em>inactive</em>
      <% end %>
      <% if is_admin %>
        | <%= link_to 'edit', edit_tag_path(tag.id) %>
      <% end %>
      <br>
    <% end %>
  <% end %>

  <% if is_admin %>
    <div>
      <%= link_to 'Create New Tag', new_tag_path %>
    </div>
  <% end %>
</div>
