<% is_admin = @user.try(:is_admin?) %>
<div class="box wide">
  <div class="legend"><%= t('tags.edit.legend')%></div>

  <p><%= t('tags.index.p1')%> <a href="/filters"><%= t('tags.edit.filter')%></a>.</p>

  <% @categories.each do |category| %>
    <h2><%= link_to category.category, category_path(category) %></h2>

    <% category.tags.each do |tag| %>
      <ol class="category_tags">
        <li>
        <% filtered = @filtered_tags.include?(tag.id) %>
        <%= link_to tag.tag, tag_path(tag), class: tag.css_class %>
        <span class="<%= filtered || !tag.active ? 'inactive_tag' : '' %>"><%= tag.description %></span>
        <span class="byline">
        <% if !tag.active %>
          | <em><%= t('tags.edit.inactive')%></em>
        <% end %>
        <% if filtered %>
          | <%= link_to "filtered", filters_path(anchor: tag.tag) %>
        <% end %>
        <% if is_admin %>
          | <%= link_to 'edit', edit_tag_path(tag.tag) %>
        <% end %>
        </span>
      </ol>
    <% end %>
  <% end %>

  <% if is_admin %>
    <div>
      <%= link_to 'Create New Tag', new_tag_path %>
    </div>
  <% end %>
</div>


