<div id="domain_box" class="box wide">
  <h1><%= "New domain" if @domain.new_record? %> <%= @domain.domain %></h1>

  <%= form_with model: [:mod, @domain] do |f| %>
    <%= errors_for @domain %>

    <%= hidden_field_tag :new_domain, @domain.domain || params[:id] %>
    <div class="boxline">
      <%= f.label :selector, "Origin selector" %>
      <%= f.text_field :selector, autocapitalize: :off %>
      <div class="d"><p class="help">Regexp with captures, must consume whole string like: <kbd>\Ahttps?://github.com/+([^/]+).*\z</kbd></p></div>
    </div>

    <div class="boxline">
      <%= f.label :replacement, "Origin replacement" %>
      <%= f.text_field :replacement, autocapitalize: :off %>
      <div class="d"><p class="help"><kbd>github.com/\1</kbd></p></div>
    </div>

    <div class="boxline">
      <%= f.submit 'Save' %>
    </div>
  <% end %>

  <br><br><hr><br>

  <% if @domain.banned_at %>
    <label>Status</label>
    <span class="d">
      Banned
    </span>
    <br>

    <label>Banned Reason</label>
    <span class="d">
      <%= @domain.banned_reason %>
    </span>
    <br>

    <label>Banned At</label>
    <span class="d">
      <%= @domain.banned_at %>
    </span>
    <br>

    <label>Banned by User</label>
    <span class="d">
      <%= @domain.banned_by_user.username %>
    </span>
  <% end %>

  <%= form_with model: @domain, url: @domain.new_record? ? mod_create_and_ban_domain_path(id: @domain.domain) : mod_ban_domain_path(id: @domain.domain) do |f| %>
    <%= hidden_field_tag :new_domain, @domain.new_record? %>

    <div class="boxline">
      <%= f.label :banned_reason, "#{caption_of_button(@domain)} Reason" %>
      <%= f.text_field :banned_reason, required: true, value: '' %>
    </div>

    <div class="boxline">
        <%= f.submit caption_of_button(@domain), class: 'deletion' %>
    </div>
  <% end %>
</div>
