<div class="box wide">
  <div class="legend">
    <%= t('login.forgot.legend')%>
  </div>

  <p>
    <%= t('login.forgot.p1')%>
  </p>

  <%= form_with url: reset_password_path, local: true do |f| %>
    <%= f.label :email, t('login.forgot.mail') %>
    <%= f.text_field :email, :size => 30 %>
    <br />

    <p>
      <%= f.submit t('login.forgot.reset') %>
    </p>
  <% end %>
</div>


