<div class="box wide">
  <div class="legend">
    <%= t('.resetpassword') %>
  </div>

  <p>
  <%= t('.resetinstructions') %>
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, t('.email') %>
    <%= email_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('.reset') %>
    </p>
  <% end %>
</div>
