<link rel="prefetch" href="<%= path_to_javascript 'application' %>" as="script" />

<div class="box wide">
  <div class="legend">
  <%= t('login.index.legend')%>
  </div>

  <% if Rails.application.read_only? %>
    <p>
    <%= t('login.index.p1')%>
    </p>
  <% else %>
    <%= form_with url: login_path, local: true do |form| %>
    <p>
      <%= form.label :email, t('login.index.mail') %>
      <%= form.text_field :email, :size => 30, :autofocus => "autofocus" %>
      <br />

      <%= form.label :password, t('login.index.password') %>
      <%= form.password_field :password, :size => 30 %>
      <br />
      </p>

      <p>
      <%= form.submit t('login.index.login') %>
      </p>

      <p>
      <%= t('login.index.p2')%>
        <%= link_to "Reset your password", forgot_password_path %>.
      </p>

      <% if Rails.application.open_signups? %>
        <p>
        <%= t('login.index.p3')%> <a href="/invitations/open"><%= t('login.index.p4')%></a>.
        </p>
      <% else %>
        <p>
        <%= t('login.index.p5')%><a href="/u/"><%= t('login.index.p6')%></a> <%= t('login.index.p7')%>
        
        <% if Rails.application.allow_invitation_requests? %>
          <a href="/invitations/request"><%= t('login.index.p8')%></a>.
        <% else %>
          join the <a href="/chat"><%= t('login.index.p9')%></a>.
        <% end %>
        </p>
      <% end %>

      <% if @referer.present? %>
        <%= form.hidden_field :referer, value: @referer %>
      <% end %>
    <% end %>
  <% end %>
</div>
