<div class="box wide">
  <div class="legend">
    <%= t('.login') %>
  </div>

  <%= form_tag login_path do %>
  <p>
    <%= label_tag :email, t('.email') %>
    <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
    <br />

    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />
    </p>

    <p>
    <%= submit_tag t('.login') %>
    </p>

    <p>
    <%= t('.forgotdeleted') %> <%= link_to t('.resetpassword'), forgot_password_path %>.
    </p>

    <p>
    <%= raw(t('.notuseryet', :acurrentuser => "#{t('.acurrentuser')}")) %>
    </p>
    <p>
    <% if Rails.application.allow_invitation_requests? %>
      <a href="/invitations/request"><%= t('.request') %></a>.
    <% else %>
      <%= raw(t('.requestinchat')) %>
    <% end %>
    </p>

    <% if @referer.present? %>
      <%= hidden_field_tag :referer, @referer %>
    <% end %>
  <% end %>
</div>
