<div class="box wide">
  <div class="legend">
  <%= t('login.setnew.legend')%>
  </div>

  <%= form_with url: set_new_password_path, autocomplete: 'off', local: true do |f| %>
    <%= errors_for(@reset_user) %>

    <%= f.hidden_field "token", :value => params[:token] %>

    <p>
    <%= f.label :username, t('login.setnew.username') %>
    <%= @reset_user.username %>
    <br />

    <%= f.label :password, t('login.setnew.newpassword') %>
    <%= f.password_field :password, :size => 30 %>
    <br />

    <%= f.label :password_confirmation, t('login.setnew.again') %>
    <%= f.password_field :password_confirmation, :size => 30 %>
    <br />

    <p>
    <%= f.submit t('login.setnew.setnewpassword) %>
    </p>
  <% end %>
</div>
