<%= form_with url: set_new_password_path, autocomplete: 'off' do |f| %>
  <%= errors_for(@reset_user) %>

  <%= f.hidden_field "password_reset_token", :value => params[:password_reset_token] %>

  <div class="labelled_grid">
    <%= f.label :username, "Username" %>
    <%= @reset_user.username %>

    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "(Again)" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Set New Password" %>
<% end %>
