<div class="box wide">
  <div class="legend">
    Set New Password
  </div>

  <%= form_with url: set_new_password_path, :autocomplete => "off" do |f| %>
    <%= error_messages_for(@reset_user) %>

    <%= f.hidden_field "token", :value => params[:token] %>

    <p>
    <%= f.label :username, "Username:" %>
    <%= @reset_user.username %>
    <br />

    <%= f.label :password, "New Password:" %>
    <%= f.password_field :password, :size => 30 %>
    <br />

    <%= f.label :password_confirmation, "(Again):" %>
    <%= f.password_field :password_confirmation, :size => 30 %>
    <br />

    <p>
    <%= f.submit "Set New Password" %>
    </p>
  <% end %>
</div>
