<div class="box wide">
  <div class="legend">
    <% t('.setnewpassword') %>
  </div>

  <%= form_tag set_new_password_path, { :autocomplete => "off" } do %>
    <%= error_messages_for(@reset_user) %>

    <%= hidden_field_tag "token", params[:token] %>

    <p>
    <%= label_tag :username, t('.user') %>
    <%= @reset_user.username %>
    <br />

    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />

    <%= label_tag :password_confirmation, t('.again') %>
    <%= password_field_tag :password_confirmation, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('.setpassbutton') %>
    </p>
  <% end %>
</div>
