<div class="box wide">
  <div class="legend">
    Set New Password
  </div>

  <%= form_tag set_new_password_path, { :autocomplete => "off" } do %>
    <%= error_messages_for(@reset_user) %>

    <%= hidden_field_tag "token", params[:token] %>

    <p>
    <%= label_tag :username, "Username:" %>
    <%= @reset_user.username %>
    <br />

    <%= label_tag :password, "New Password:" %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />

    <%= label_tag :password_confirmation, "(Again):" %>
    <%= password_field_tag :password_confirmation, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "Set New Password" %>
    </p>
  <% end %>
</div>
