<div id="header">
	<div id="headerright" class="<%= @user ? "loggedin" : "" %>">
		<% if @user %>
			<a href="/users/<%= @user.username %>"><%= @user.username
        %> (<%= @user.karma %>)</a>
			<% if (count = @user.unread_message_count) > 0 %>
				<a href="/messages"><%= count %> New Message<%= count == 1 ? "" : "s"
          %></a>
			<% else %>
				<a href="/messages">Messages</a>
			<% end %>
			<%= link_to "Logout", { :controller => "login", :action => "logout" },
				{ :confirm => "Are you sure you want to logout?",
          "method" => "post" } %>
		<% else %>
			<a href="/signup">Signup</a>
			or
			<a href="/login">Login</a>
		<% end %>
	</div>

  <div id="l_holder" class="boring">
    <a href="/"><img src="/assets/l.png" width=16 height=16></a>
  </div>

  <% if @title %>
    <span id="headertitle">
      <a href="<%= @title_url %>"><%= @title %></a>
    </span>
  <% end %>

	<span id="headerlinks">
		<a href="/">Home</a>

		<a href="/newest">Newest</a>
		<% if @user %>
			<a href="/threads">Your Threads</a>
		<% end %>
		<a href="/stories/new">Submit</a>
	</span>

	<div class="clear"></div>
</div>
