<div id="header">
  <div id="headerleft">
    <a id="l_holder" class="boring" href="/"></a>

    <% if @title %>
      <span id="headertitle">
        <a href="<%= @title_url %>"><%= @title %></a>
      </span>
    <% end %>

    <span class="headerlinks">
      <a href="/">Home</a>

      <a href="/newest">Newest</a>
      <% if @user %>
        <a href="/threads">Your Threads</a>
      <% end %>
      <a href="/stories/new">Submit Story</a>
    </span>
  </div>

	<div id="headerright" class="<%= @user ? "loggedin" : "" %>">
    <span class="headerlinks">
		<% if @user %>
      <a href="/filters">Filters</a>

			<% if (count = @user.unread_message_count) > 0 %>
				<a href="/messages"><%= count %> New Message<%= count == 1 ? "" : "s"
          %></a>
			<% else %>
				<a href="/messages">Messages</a>
			<% end %>

			<a href="/settings"><%= @user.username %> (<%= @user.karma %>)</a>

			<%= link_to "Logout", { :controller => "login", :action => "logout" },
				{ :confirm => "Are you sure you want to logout?",
          "method" => "post" } %>
		<% else %>
			<a href="/login">Login</a>
		<% end %>
    </span>
	</div>

	<div class="clear"></div>
</div>
