<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em><%= t('.emphasizedtext') %></em></td>
    <td><%= raw t('.emphasizedtextdesc') %></td>
  </tr>
  <tr>
    <td><strong><%= t('.strongtext') %></strong></td>
    <td><%= raw t('.strongtextdesc') %></td>
  </tr>
  <!--
  <tr>
    <td><strike>struck-through</strike></td>
    <td>surround text with <tt>~~two tilde characters~~</tt></td>
  </tr>
  -->
  <tr>
    <td><tt><%= t('.fixedwidth') %></tt></td>
    <td><%= raw t('.fixedwidthdesc') %></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;"><%= t('.linkedtext') %></a></td>
    <td><%= raw t('.linkedtextdesc') %></td>
  </tr>
  <tr>
    <td><blockquote> <%= t('.quotedtext') %></blockquote></td>
    <td><%= raw t('.quotedtextdesc') %></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;"><%= t('.pretext') %></pre></td>
    <td><%= raw t('.pretextdesc') %></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td><%= t('.inlineimage') %></td>
      <td><tt><%= raw t('.inlineimagedesc') %></td>
    </tr>
  <% end %>
  </table>
</div>
