<div class="box wide">
  <div class="legend">
  <%= t('filters.legend')%>
  </div>

  <p>
  <%= t('filters.text1_part1')%> <a href="/tags">tags</a> <%= t('filters.text1_part2')%>.
  </p>

  <% if !@user %>
    <p>
    <%= t('filters.text2_part1')%>, <a href="/login">login</a> <%= t('filters.text2_part1')%>.
    </p>
  <% end %>

  <%= form_with url: '/filters', method: :post, local: true do |f| %>
    <table class="data zebra" cellspacing=0>
    <tr>
      <th><%= t('filters.table_th1')%></th>
      <th><%= t('filters.table_th2')%></th>
      <th><%= t('filters.table_th3')%></th>
      <th style="text-align: right;"> <%= t('filters.table_th4')%> </th>
      <th style="text-align: right; padding-right: 1em;"> <%= t('filters.table_th5')%> </th>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <th></th>
        <th colspan=4><%= category.category %></th>
      </tr>
      <% category.tags.each do |tag| %>
        <tr id="<%= tag.tag %>">
          <td>
            <% if tag.user_can_filter?(@user) %>
              <%= check_box_tag "tags[#{tag.tag}]", tag.tag, @filtered_tags.include?(tag.id) %>
            <% end %>
          </td>
          <td><%= tag_link(tag) %></td>
          <td>
            <%= label_tag "tags[#{tag.tag}]" do %>
              <span class="<%= tag.active? ? '' : 'inactive_tag' %>"><%= tag.description %></span>
              <% if !tag.active %>
                | <em><%= t('filters.inactive_tag')%></em>
              <% end %>
              <% if tag.hotness_mod != 0 %>
                |
                <em>hotness mod <%= tag.hotness_mod > 0 ? "+" : ""%><%= tag.hotness_mod %></em>
              <% end %>
            <% end %>
          </td>
          <td style="text-align: right;"><%= number_with_delimiter(@story_counts[tag.id]) %></td>
          <td style="text-align: right; padding-right: 1em;"><%= number_with_delimiter(@filter_counts[tag.id]) %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    <p>
    <%= f.submit t('filters.save') %>
    </p>
  <% end %>
</div>
