<div class="box wide">
  <div class="legend">
  <%= t('hats.build_request.legend')%>
  </div>

  <p>
  <%= t('hats.build_request.p1')%>
  </p>
  <p>
  <%= t('hats.build_request.p2')%>
  </p>
  <p>
  <%= t('hats.build_request.p3')%>
  </p>
  <p>
  <%= t('hats.build_request.p4')%>
  </p>
  <p>
  <%= t('hats.build_request.p5')%>
  </p>

  <%= form_with model: @hat_request, url: create_hat_request_path, local: true do |f| %>
    <p>
    <%= f.label :hat, t('hats.build_request.hat') %>
    <%= f.text_field :hat, :size => 20,
      :placeholder => t('hats.build_request.placeholder_hat') %>
    <br />

    <%= f.label :link, t('hats.build_request.link') %>
    <%= f.text_field :link, :size => 50,
      :placeholder => t('hats.build_request.placeholder_link') %>
    <br />

    <%= f.label :comment, t('hats.build_request.comment') %>
    <%= f.text_area :comment, :rows => 4, :placeholder => t('hats.build_request.placeholder_comment') %>
    </p>

    <p>
    <%= submit_tag t('hats.build_request.request_hat_bnt') %>
    </p>
  <% end %>
</div>
