<div class="box wide">
  <div class="legend">
    <%= t('.title') %>
  </div>

  <%= raw(t('.description')) %>

  <%= form_for @hat_request, :url => create_hat_request_path do |f| %>
    <p>
    <%= f.label :hat, t('.hat') %>
    <%= f.text_field :hat, :size => 20,
      :placeholder => t('.hatplaceholder') %>
    <br />

    <%= f.label :link, t('.link') %>
    <%= f.text_field :link, :size => 50,
      :placeholder => t('.linkplaceholder') %>
    <br />

    <%= f.label :comment, t('.comment') %>
    <%= f.text_area :comment, :rows => 4,
      :placeholder => t('.commentplaceholder') %>
    </p>

    <p>
    <%= submit_tag t('.requesthatbutton') %>
    </p>
  <% end %>
</div>
