<%= form_with url: doff_by_user_hat_path(@hat) do |f| %>
  <div class="labelled_grid">
    <%= f.label :user_id, "User" %>
    <%= styled_user_link @hat.user %>

    <%= f.label :hat, "Hat" %>
    <%= styled_hat(@hat) %>

    <%= f.label :reason, "Reason" %>
    <span>
      <%= f.text_field :reason %>
      <span class="hint">
        Short public explanation, like "Left project"
      </span>
    </span>
  </div>

  <%= submit_tag "Doff Hat" %>
<% end %>
