<!doctype html>
<html
  lang="en"
  class='color-scheme-<%= @user&.prefers_color_scheme || 'system' %>'
>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="always" />
  <meta name="theme-color" content="#AC130D" />
  <% if @meta_tags %>
    <% @meta_tags.each do |k,v| %>
      <meta name="<%= k %>" content="<%= v %>" />
    <% end %>
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <% if @short_url %>
    <link rev="canonical" rel="self alternate shorter shorturl shortlink"
      href="<%= @short_url %>" />
  <% end %>
  <title><%= @title.present? ? "#{@title} | " : "" %><%=
    Rails.application.name %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% if @user %>
    <%= javascript_include_tag "application" %>
    <script>
      Lobsters.curUser = '<%= @user.username %>';
    </script>
  <% end %>
  <%= csrf_meta_tags %>
  <% if @rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @rss_link[:title] %>" href="<%= @rss_link[:href] %>" />
  <% end %>
  <% if @comments_rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @comments_rss_link[:title] %>"
      href="<%= @comments_rss_link[:href] %>" />
  <% end %>
</head>
<body>
  <header id="nav">
    <a id="l_holder" style="<%= @traffic_style %>" href="/" title="<%= Rails.application.name %> (Current traffic: <%= @traffic_intensity.to_i %>%)"></a>

    <%= link_to 'Recent', recent_path %>
    <%= link_to 'Comments', comments_path %>

    <% if @user && @user.can_submit_stories? %>
      <%= link_to 'Submit', new_story_path %>
    <% end %>

    <% if @user %>
      <%= link_to 'Saved', saved_path %>
    <% end %>
    <%= link_to 'Search', search_path %>

    <div class="user">
      <% if @user %>
        <% if @user.inbox_count > 0 %>
          <%= link_to raw("Inbox <span class='inbox_unread'>#{@user.inbox_count}</span>"), inbox_path %>
        <% else %>
          <%= link_to "Inbox", inbox_path %>
        <% end %>

        <% # TODO: this whitespace between <a>s isn't collapsing so both margins show; stop debugging and port to flexbox/grid %>

        <%= link_to raw("#{@user.username} <span class='karma'>(#{@user.karma})</span>"), settings_path %>
        <% # TODO: link karma to list of karma events %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>

    <div class="clear"></div>
  </header>

  <% if content_for? :nav %>
    <div class="box wide">
      <%= yield :nav %>
    </div>
    <div class="clear"></div>
  <% end %>

  <div id="inside">
    <% [ :error, :success, :notice ].each do |f| %>
      <% if flash[f].present? %>
        <div class="flash-<%= f %>"><%= flash[f] %></div>
      <% end %>
    <% end %>

    <%= yield %>

    <footer>
      <%= link_to 'About', about_path %>
      <% if !@user && Rails.application.open_signups? %>
        <a href="/invitations/open">Join <%= Rails.application.name %></a>
      <% end %>
      <% if @user && @user.can_see_invitation_requests? &&
            (iqc = InvitationRequest.verified_count) > 0 %>
        <a href="/invitations">Invitation Queue (<%= iqc %>)</a>
      <% end %>
      <%= link_to 'Tags', tags_path %>
      <% if @user && @user.is_moderator? && (hrc = HatRequest.count) > 0 %>
        <%= link_to "#{hrc} Hat Requests", hats_requests_path %>
      <% end %>
      <%= link_to 'Filter', filters_path %>
      <%= link_to 'Moderation Log', moderations_path %>
    </footer>
    <div class="clear"></div>
  </div>
</body>
</html>
