<!doctype html>
<html lang="en" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="icon" sizes="144x144" type="image/png" href="/touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/touch-icon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-144.png">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Lobsters">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="always">
  <meta name="theme-color" content="#AC130D">
  <meta name="story-flags" content="<%=  Vote::STORY_REASONS.to_json %>">
  <meta name="comment-flags" content="<%=  Vote::COMMENT_REASONS.to_json %>">

  <% (@meta_tags || []).each do |tag| %>
    <meta property="<%= tag[:property] %>" content="<%= tag[:content] %>">
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico">
  <% if controller_name == "stories" && action_name == "show" %>
    <%= tag :link, href: Routes.title_url(@story), rev: :canonical, rel: "self alternate shorter shorturl shortlink" %>
  <% end %>
  <title><%= @title.present? ? "#{@title} | " : "" %><%=
    Rails.application.name %></title>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag (@user&.prefers_color_scheme || "system") + "-" + (@user&.prefers_contrast || "system") %>
  <%= stylesheet_link_tag "tom-select", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "TomSelect_remove_button", "data-turbo-track": "reload" %>

  <% if @user %>
    <%= javascript_importmap_tags %>
  <% end %>

  <%= csrf_meta_tags %>
  <% if @rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @rss_link[:title] %>" href="<%= @rss_link[:href] %>">
  <% end %>
  <% if @comments_rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @comments_rss_link[:title] %>"
      href="<%= @comments_rss_link[:href] %>">
  <% end %>
  <meta name="robots" content="noai, noimageai">
<% # only for logged-out users so we don't speculatively advance ReadRibbons %>
  <% if !@user %>
    <script type="speculationrules" nonce="<%= content_security_policy_nonce %>">
      {
        "prefetch": [
          {
            "where": {
              "href_matches": "/*"
            },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  <% end %>
</head>
<body data-username='<%= @user.try(:username) %>' data-now-unix='<%= Time.current.to_i  %>'>
  <header id="nav">
    <a id="logo" aria-label="<%= Rails.application.name %>" style="<%= @traffic_style %>" href="/" title="<%= Rails.application.name %> (Current traffic: <%= @traffic_intensity.to_i %>%)">
      <svg aria-hidden viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="m16 16h-16v-16h16v16z" fill="#ac130d" fill-opacity="0"/>
        <path d="m3.5 13.45v-0.3-0.33c0-0.11 0-0.1 0.1-0.11 0.23-0.02 0.46-0.03 0.69-0.07 0.46-0.08 0.67-0.31 0.74-0.78 0.02-0.14 0.03-0.29 0.03-0.43v-6.74c0-0.18-0.02-0.36-0.04-0.53-0.03-0.31-0.23-0.5-0.52-0.61-0.27-0.1-0.55-0.11-0.83-0.13h-0.15v-0.08-0.57c0-0.07 0.02-0.09 0.09-0.09h3.11 2.13c0.07 0 0.1 0.01 0.1 0.09-0.01 0.19 0 0.37 0 0.56v0.08c-0.14 0.01-0.28 0-0.41 0.02-0.2 0.03-0.4 0.06-0.59 0.11-0.35 0.11-0.53 0.35-0.57 0.68-0.02 0.15-0.03 0.3-0.03 0.45v6.39c0 0.27 0.03 0.54 0.06 0.8 0.03 0.29 0.22 0.48 0.49 0.58 0.23 0.09 0.48 0.11 0.72 0.12 0.63 0.02 1.25 0.01 1.86-0.15 0.88-0.22 1.47-0.77 1.76-1.64 0.09-0.28 0.13-0.57 0.2-0.86 0.01-0.02 0.03-0.06 0.05-0.06h0.66c-0.02 1.2 0.02 2.4 0 3.6h-9.65z" fill="currentColor"/>
      </svg>
    </a>
    <%= @traffic_novelty %>

    <div class="navholder">
      <nav class="links">
        <%= link_to_different_page 'Active', active_path %>
        <%= link_to_different_page 'Recent', recent_path %>
        <%= link_to_different_page 'Comments', comments_path %>

        <% if @user && @user.can_submit_stories? %>
          <%= link_to_different_page 'Submit', new_story_path %>
        <% end %>

        <%= link_to_different_page 'Search', search_path %>


        <% if @user %>
          <% if @user.inbox_count > 0 %>
            <%= link_to raw("Inbox&nbsp;<span class='inbox_unread'>#{@user.inbox_count}</span>"), inbox_path, class: 'inbox corner' %>
          <% else %>
            <%= link_to "Inbox", inbox_path, class: 'inbox corner' %>
          <% end %>

          <%= link_to_different_page 'Threads', threads_path %>
          <%= link_to_different_page 'Saved', saved_path %>
          <%= link_to_different_page raw("#{@user.username}&nbsp;<span class='karma'>(#{@user.karma})</span>"), settings_path %>
        <% else %>
          <%= link_to_different_page 'Login', login_path, class: 'corner' %>
        <% end %>
      </nav>
    </div>

    <nav class="corner">
      <% if @user %>
        <% if @user.inbox_count > 0 %>
          <%= link_to raw("&#9993;&nbsp;<span class='inbox_unread'>#{@user.inbox_count}</span>"), inbox_path, class: 'inbox' %>
        <% else %>
          <%= link_to raw("&#9993;"), inbox_path, class: 'inbox' %>
        <% end %>
      <% else %>
        <%= link_to 'Login', login_path, class: 'corner' %>
      <% end %>
    </nav>
  </header>

  <% if content_for? :subnav %>
    <header id="subnav">
      <%= yield :subnav %>
    </header>
  <% end %>

  <div id="inside">
    <% if @title.present? && @title_h1 %>
      <h1 class="<%= @title_class %>"><%= @title %></h1>
    <% end %>

    <% [ :error, :success, :notice ].each do |f| %>
      <% if flash[f].present? %>
        <div class="flash-<%= f %>"><%= flash[f] %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>

  <footer>
      <span id="office-hours-live">
        <% if File.exist?('tmp/office_hours_live.txt') %>
          The <a href="https://lobste.rs/s/zzprkr/weekly_lobsters_office_hours">office hours stream</a> is <a href="https://www.twitch.tv/pushcx">currently live ⏵</a>
      <% end %>
    </span>

    <nav>
      <%= link_to 'About', about_path %>
      <% if !@user && Rails.application.open_signups? %>
        <a href="/invitations/open">Join <%= Rails.application.name %></a>
      <% end %>
      <% if @user && @user.can_see_invitation_requests? &&
            (iqc = InvitationRequest.verified_count) > 0 %>
        <a href="/invitations">Invitation Queue (<%= iqc %>)</a>
      <% end %>
      <%= link_to 'Tags', tags_path %>
      <% if @user && @user.is_moderator? && (hrc = HatRequest.count) > 0 %>
        <%= link_to "#{hrc} Hat Requests", hat_requests_path, class: 'mod' %>
      <% end %>
      <%= link_to 'Filter', filters_path %>
      <%= link_to 'Moderation Log', moderations_path %>
    </nav>
  </footer>

  <span id="iab-pcm-sdk"></span><span id="iab-autofill-sdk"></span>
</body>
</html>
